.wp-block-gt-layout-blocks-image-text {

	/* Block Content */
	.gt-content {

		.gt-title {
		   margin-top: 0.5em;
		   margin-bottom: 0.5em;
		   color: inherit;
	   }

	   .gt-text p {
		   font-size: inherit;
		   color: inherit;
	   }
	}
}
