.wp-block-gt-blocks-image-text {
	display: flex;
	margin-bottom: 1.5em;

	.wp-block-gt-blocks-content,
	.wp-block-gt-blocks-image {
		width: 50%;
	}

	&.gt-image-position-right {
		flex-direction: row-reverse;
	}

	&.gt-vertical-align-center .wp-block-gt-blocks-content .gt-content {
		justify-content: center;
	}

	&.gt-vertical-align-bottom .wp-block-gt-blocks-content .gt-content {
		justify-content: flex-end;
	}
}
