.wp-block-gt-layout-blocks-image-text {
	display: flex;
	margin-bottom: 1.5em;

	.wp-block-gt-layout-blocks-content,
	.wp-block-gt-layout-blocks-image {
		width: 50%;
	}

	&.gt-image-position-right {
		flex-direction: row-reverse;
	}

	&.gt-vertical-align-center {
		align-items: center;
	}

	&.gt-vertical-align-bottom {
		align-items: flex-end;
	}
}
