/* Icon Picker Modal */
.gt-layout-blocks-icon-picker-modal {
	width: 100%;

	.gt-icon-picker-title {
		font-size: 1rem;
		font-weight: bold;
	}

	.gt-icon-picker-search {
		width: 100%;
		height: auto;
		font-size: 16px;
		padding: 6px 10px;
		margin-bottom: 12px;
	}

	.gt-icon-picker-list {

		.gt-icon-picker-grid {
			display: grid;
			grid-gap: 4px;
			grid-template-columns: repeat(auto-fill, minmax( 56px, 1fr ) );

			.gt-icon-link {
				display: block;
				background: #f0f0f0;
				text-align: center;

				&:hover,
				&:active {
					background: #e0e0e0;
					cursor: pointer;
				}

				.gt-icon-svg {
					display: inline-block;
					padding: 16px;

					.icon {
						width: 24px;
						height: 24px;
						fill: #202020;
						vertical-align: middle;
						pointer-events: none;
					}
				}
			}
		}
	}
}

/* Icon Picker Placeholder */
.gt-icon-placeholder-wrapper {

	a.gt-show-icon-picker {
		color: inherit;
		cursor: pointer;

		.gt-icon-svg .icon {
			pointer-events: none;
		}
	}
}
