.wp-block-gt-layout-blocks-button {

	.gt-button-wrap {
		
		.gt-button {
			cursor: text;
		}

		&.gt-button-circle .gt-button {
			border-radius: 100%;
		}

		&.gt-button-rounded .gt-button {
			border-radius: 12px;
		}
	}

	&.gt-align-center .block-library-button__inline-link {
		margin-left: auto;
		margin-right: auto;
	}

	&.gt-align-right .block-library-button__inline-link {
		margin-left: auto;
	}

	.block-library-button__inline-link {
		width: auto;

		.editor-url-input input[type=text] {
			width: auto;
		}
	}
}

.gt-panel-button-settings .gt-button-size-picker {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1em;
}
