.wp-block-gt-layout-blocks-button {

	.gt-button-wrap {
		
		.gt-button {
			cursor: text;
		}
	}
}

.gt-panel-button-size .gt-button-size-picker {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1em;
}
