.wp-block-gt-blocks-button {
	margin-bottom: 1.5em;

	&:not(.has-text-color) {
		color: #fff;
	}

	.gt-button {
		display: inline-block;
		margin: 0;
		padding: 0;
		font-weight: normal;
		font-style: normal;
		line-height: 1;
		text-align: center;
		text-decoration: none;
		text-transform: none;
		border: none;
		border-radius: inherit;
		box-shadow: none;
		white-space: normal;
		word-break: break-all;
		cursor: pointer;
		color: inherit;

		.gt-button-inner {
			display: inline-block;
			border-radius: inherit;

			&:not(.has-background) {
				background-color: #303030;
			}

			&:hover,
			&:active,
			&:focus {
				color: inherit;
			}
		}

		&.gt-button-small .gt-button-inner {
			padding: 0.75rem;
			font-size: 0.9em;
		}

		&.gt-button-medium .gt-button-inner {
			padding: 1rem 1.25rem;
			font-size: 1.0em;
		}

		&.gt-button-large .gt-button-inner {
			padding: 1.25rem 1.5rem;
			font-size: 1.1em;
		}

		&.gt-button-extra-large .gt-button-inner {
			padding: 1.5rem 2rem;
			font-size: 1.2em;
		}

		&.gt-is-uppercase {
			text-transform: uppercase;
			font-size: 0.9em;
			line-height: 1.1;
		}

		&.gt-is-bold {
			font-weight: bold;
		}

		&.gt-is-italic {
			font-style: italic;
		}

		&.gt-button-circular {
			border-radius: 200px;
		}

		&.gt-button-rounded {
			border-radius: 5px;
		}

		/* Lighten Hover Style */
		&.gt-hover-style-lightened:hover .gt-button-inner,
		&.gt-hover-style-lightened:active .gt-button-inner,
		&.gt-hover-style-lightened:focus .gt-button-inner {
			box-shadow: inset 0 0 300px rgba(255,255,255,0.2);
		}

		/* Darken Hover Style */
		&.gt-hover-style-darkened:hover .gt-button-inner,
		&.gt-hover-style-darkened:active .gt-button-inner,
		&.gt-hover-style-darkened:focus .gt-button-inner {
			box-shadow: inset 0 0 300px rgba(0,0,0,0.2);
		}

		/* Underlined Hover Style */
		&.gt-hover-style-underlined:hover .gt-button-inner,
		&.gt-hover-style-underlined:active .gt-button-inner,
		&.gt-hover-style-underlined:focus .gt-button-inner {
			text-decoration: underline;
		}

		/* Custom Color Hover Style */
		&.has-hover-color:hover .gt-button-inner,
		&.has-hover-color:active .gt-button-inner,
		&.has-hover-color:focus .gt-button-inner {
			background-color: transparent !important;
			box-shadow: none;
		}
	}

	&.gt-align-center {
		text-align: center;
	}

	&.gt-align-right {
		text-align: right;
	}
}

/* Ghost Button Style */
.wp-block-gt-blocks-button.is-style-ghost-button {

	&:not(.has-text-color) {
		color: inherit;
	}

	.gt-button {
		border: 2px solid currentColor;

		.gt-button-inner {

			&:not(.has-background) {
				background-color: inherit;
			}
		}

		/* Lighten Hover Style */
		&.gt-hover-style-lightened:hover,
		&.gt-hover-style-lightened:active,
		&.gt-hover-style-lightened:focus {
			color: rgba(255,255,255,0.5);

			.gt-button-inner {
				box-shadow: none;
			}
		}

		/* Darken Hover Style */
		&.gt-hover-style-darkened:hover,
		&.gt-hover-style-darkened:active,
		&.gt-hover-style-darkened:focus {
			color: rgba(0,0,0,0.6);

			.gt-button-inner {
				box-shadow: none;
			}
		}
	}
}
