.wp-block-gt-blocks-button {
	margin-bottom: 1.5em;

	&:not(.has-text-color) {
		color: #fff;
	}

	.gt-button-wrap {
		display: inline-block;
		margin: 0;
		padding: 0;
		line-height: 1;

		.gt-button {
			display: inline-block;
			margin: 0;
			padding: 0;
			font-weight: normal;
			font-style: normal;
			line-height: 1;
			text-align: center;
			text-decoration: none;
			text-transform: none;
			border: none;
			border-radius: inherit;
			box-shadow: none;
			white-space: normal;
			word-break: break-all;
			cursor: pointer;
			color: inherit;

			&:not(.has-background) {
				background-color: #303030;
			}

			&:hover,
			&:active,
			&:focus {
				color: inherit;
			}

			&.gt-button-small {
				padding: 0.5rem 0.75rem;
			}

			&.gt-button-medium {
				padding: 1rem 1.25rem;
			}

			&.gt-button-large {
				padding: 1.5rem 2rem;
			}

			&.gt-button-extra-large {
				padding: 2rem 3rem;
			}
	
			&.gt-is-uppercase {
				text-transform: uppercase;
				font-size: 0.95em;
			}

			&.gt-is-bold {
				font-weight: bold;
			}

			&.gt-is-italic {
				font-style: italic;
			}
		}

		&:not(.has-hover-color) {
			background-color: #454545;
		}

		&:hover .gt-button,
		&:active .gt-button,
		&:focus .gt-button {
			background-color: transparent !important;
		}

		&.gt-button-circle {
			border-radius: 100%;
		}

		&.gt-button-rounded {
			border-radius: 5px;
		}
	}

	&.gt-align-center {
		text-align: center;
	}

	&.gt-align-right {
		text-align: right;
	}
}
