.wp-block-gt-blocks-button {
	margin-bottom: 1.5em;

	&:not(.has-text-color) {
		color: #fff;
	}

	.gt-button {
		display: inline-block;
		margin: 0;
		padding: 0;
		font-weight: normal;
		font-style: normal;
		line-height: 1;
		text-align: center;
		text-decoration: none;
		text-transform: none;
		border: none;
		border-radius: inherit;
		box-shadow: none;
		white-space: normal;
		word-break: break-all;
		cursor: pointer;
		color: inherit;

		.gt-button-inner {
			display: inline-block;
			border-radius: inherit;

			&:not(.has-background) {
				background-color: #303030;
			}

			&:hover,
			&:active,
			&:focus {
				color: inherit;
			}
		}

		&.gt-button-small .gt-button-inner {
			padding: 0.5rem 0.75rem;
		}

		&.gt-button-medium .gt-button-inner {
			padding: 1rem 1.25rem;
		}

		&.gt-button-large .gt-button-inner {
			padding: 1.5rem 2rem;
		}

		&.gt-button-extra-large .gt-button-inner {
			padding: 2rem 3rem;
		}

		&.gt-is-uppercase {
			text-transform: uppercase;
			font-size: 0.95em;
		}

		&.gt-is-bold {
			font-weight: bold;
		}

		&.gt-is-italic {
			font-style: italic;
		}

		&.gt-button-circle {
			border-radius: 100%;
		}

		&.gt-button-rounded {
			border-radius: 5px;
		}

		/* Lighten Hover Style */
		&.gt-hover-style-lighten:hover .gt-button-inner,
		&.gt-hover-style-lighten:active .gt-button-inner,
		&.gt-hover-style-lighten:focus .gt-button-inner {
			box-shadow: inset 0 0 300px rgba(255,255,255,0.2);
		}

		/* Darken Hover Style */
		&.gt-hover-style-darken:hover .gt-button-inner,
		&.gt-hover-style-darken:active .gt-button-inner,
		&.gt-hover-style-darken:focus .gt-button-inner {
			box-shadow: inset 0 0 300px rgba(0,0,0,0.2);
		}

		/* Custom Color Hover Style */
		&.has-hover-color:hover .gt-button-inner,
		&.has-hover-color:active .gt-button-inner,
		&.has-hover-color:focus .gt-button-inner {
			background-color: transparent !important;
			box-shadow: none;
		}
	}

	&.gt-align-center {
		text-align: center;
	}

	&.gt-align-right {
		text-align: right;
	}
}
