.wp-block-gt-layout-blocks-button {

	.gt-button-wrap {
		display: inline-block;
		margin: 0;
		padding: 0;

		.gt-button {
			display: inline-block;
			margin: 0;
			padding: 6px 18px;
			font-weight: normal;
			font-style: normal;
			line-height: 1.4;
			text-align: center;
			text-decoration: none;
			text-transform: none;
			border: none;
			border-radius: 0;
			box-shadow: none;
			cursor: pointer;
			white-space: normal;
			word-break: break-all;

			&:not(.has-background) {
				background-color: #303030;
			}

			&:not(.has-text-color) {
				color: #fff;
			}

			&.gt-button-small {
				padding: 4px 12px;
			}

			&.gt-button-medium {
				padding: 8px 24px;
			}

			&.gt-button-large {
				padding: 16px 48px;
			}

			&.gt-is-bold {
				font-weight: bold;
			}
	
			&.gt-is-italic {
				font-style: italic;
			}
	
			&.gt-is-uppercase {
				text-transform: uppercase;
			}
		}

		&:not(.has-hover-background) {
			background-color: #424242;
		}

		&:not(.has-hover-text-color) {
			color: #fff;
		}

		&:hover .gt-button,
		&:active .gt-button,
		&:focus .gt-button {
			color: inherit;
			background: transparent;
		}
	}
}
