{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ]
  ],
  "plugins": [
    "transform-object-rest-spread",
    "lodash",
    [
      "transform-react-jsx",
      {
        "pragma": "wp.element.createElement"
      }
    ]
  ],
  "env": {
    "default": {
      "plugins": ["transform-runtime"]
    }
  }
}
