.wp-block-gt-blocks-dual-heading {
	.gt-heading {
		&.editor-rich-text__tinymce[data-is-placeholder-visible=true] {
			display: block;
		}
	}

	.gt-subheading {
		&.editor-rich-text__tinymce {
			line-height: 1.4;
		}
	
		&.editor-rich-text__tinymce[data-is-placeholder-visible=true] {
			display: block;
		}
	}
}
