.editor-block-list__block .gt-grid-container {
	display: block;
	margin: 0;

	.wp-block-gt-blocks-column {
		padding-right: 0;
		padding-bottom: 0;
		width: 100%;
	}
		
	> .editor-inner-blocks {
		margin-top: -12px;
		margin-bottom: -18px;

		> .editor-block-list__layout {

			> [data-type="gt-blocks/column"] {
				margin-left: 0;
				margin-right: 0;
				min-width: 0;

				> .editor-block-list__block-edit {
					margin-top: 12px;
					margin-bottom: 18px;
				}
			}
		}
	}
}

@media (min-width: 600px) {
	.gt-grid-container {

		> .editor-inner-blocks > .editor-block-list__layout {

			> [data-type="gt-blocks/column"] > .editor-block-contextual-toolbar {
				transform: translateY( -40px );
			}
		}
	}
}

@media only screen and (min-width: 480px) {
	.editor-block-list__block .gt-columns-2,
	.editor-block-list__block .gt-columns-4,
	.editor-block-list__block .gt-columns-5,
	.editor-block-list__block .gt-columns-6 {
		> .editor-inner-blocks > .editor-block-list__layout {
			display: flex;
			flex-wrap: wrap;

			> [data-type="gt-blocks/column"] {
				width: 50%;
			}
		}
	}
}

@media only screen and (min-width: 720px) {
	.editor-block-list__block .gt-columns-3 {
		> .editor-inner-blocks > .editor-block-list__layout {
			display: flex;
			flex-wrap: wrap;

			> [data-type="gt-blocks/column"] {
				width: 33.3333333333333%;
			}
		}
	}

	.editor-block-list__block .gt-columns-5,
	.editor-block-list__block .gt-columns-6 {
		> .editor-inner-blocks > .editor-block-list__layout {
			> [data-type="gt-blocks/column"] {
				width: 33.3333333333333%;
			}
		}
	}
}

@media only screen and (min-width: 960px) {
	.editor-block-list__block .gt-columns-4 {
		> .editor-inner-blocks > .editor-block-list__layout {
			> [data-type="gt-blocks/column"] {
				width: 25%;
			}
		}
	}
}

@media only screen and (min-width: 1040px) {
	.editor-block-list__block .gt-columns-5 {
		> .editor-inner-blocks > .editor-block-list__layout {
			> [data-type="gt-blocks/column"] {
				width: 20%;
			}
		}
	}
}

@media only screen and (min-width: 1120px) {
	.editor-block-list__block .gt-columns-6 {
		> .editor-inner-blocks > .editor-block-list__layout {
			> [data-type="gt-blocks/column"] {
				width: 16.666666666666%;
			}
		}
	}
}

/* Change Grid Layout */
.gt-columns-button.components-button.is-large {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 30px 0 0;
	padding: 8px;
	width: 100%;
	height: auto;
	box-shadow: none;
	background: #fafafa;
	border: 1px solid #ddd;

	svg {
		margin-right: 8px;
	}

	&:hover,
	&:focus {
		background: #f0f0f0;
		border: 1px solid #999;
		box-shadow: none;
	}

	&.has-parent-block-selected {
		background: #f0f0f0;
		border: 1px solid #999;
	}
}

/* Add Grid Item */
.gt-add-grid-item.components-button.is-large {
	height: 36px;
	line-height: 34px;
	margin: 2px 0 12px;
	padding: 0 12px 2px;

	svg.dashicon {
		margin: 7px 7px 0 0;
	}
}

/* 5.4 Styling */
.block-editor-block-list__block .gt-grid-container {
	display: block;
	margin: 0;

	.wp-block-gt-blocks-column {
		width: 100%;
	}
		
	> .block-editor-inner-blocks {

		> .block-editor-block-list__layout {

			> [data-type="gt-blocks/column"] {
				margin-left: 0;
				margin-right: 0;
				min-width: 0;
			}
		}
	}
}

@media only screen and (min-width: 480px) {
	.block-editor-block-list__block .gt-columns-2,
	.block-editor-block-list__block .gt-columns-4,
	.block-editor-block-list__block .gt-columns-5,
	.block-editor-block-list__block .gt-columns-6 {
		> .block-editor-inner-blocks > .block-editor-block-list__layout {
			display: flex;
			flex-wrap: wrap;
			margin-right: -1.5rem;
			margin-right: calc( -1 * var(--gt-column-gap) );
			margin-bottom: -1.5rem;
			margin-bottom: calc( -1 * var(--gt-column-gap) );

			> [data-type="gt-blocks/column"] {
				width: 50%;
			}
		}
	}
}

@media only screen and (min-width: 720px) {
	.block-editor-block-list__block .gt-columns-3 {
		> .block-editor-inner-blocks > .block-editor-block-list__layout {
			display: flex;
			flex-wrap: wrap;
			margin-right: -1.5rem;
			margin-right: calc( -1 * var(--gt-column-gap) );
			margin-bottom: -1.5rem;
			margin-bottom: calc( -1 * var(--gt-column-gap) );

			> [data-type="gt-blocks/column"] {
				width: 33.3333333333333%;
			}
		}
	}

	.block-editor-block-list__block .gt-columns-5,
	.block-editor-block-list__block .gt-columns-6 {
		> .block-editor-inner-blocks > .block-editor-block-list__layout {
			> [data-type="gt-blocks/column"] {
				width: 33.3333333333333%;
			}
		}
	}
}

@media only screen and (min-width: 960px) {
	.block-editor-block-list__block .gt-columns-4 {
		> .block-editor-inner-blocks > .block-editor-block-list__layout {
			> [data-type="gt-blocks/column"] {
				width: 25%;
			}
		}
	}
}

@media only screen and (min-width: 1040px) {
	.block-editor-block-list__block .gt-columns-5 {
		> .block-editor-inner-blocks > .block-editor-block-list__layout {
			> [data-type="gt-blocks/column"] {
				width: 20%;
			}
		}
	}
}

@media only screen and (min-width: 1120px) {
	.block-editor-block-list__block .gt-columns-6 {
		> .block-editor-inner-blocks > .block-editor-block-list__layout {
			> [data-type="gt-blocks/column"] {
				width: 16.666666666666%;
			}
		}
	}
}
