.editor-block-list__block .gt-grid-container {
	display: block;
		
	> .editor-inner-blocks > .editor-block-list__layout {
		display: grid;
		grid-gap: 0;

		> [data-type="gt-layout-blocks/column"] {
			min-width: 0;
			width: 100%;

			> .editor-block-list__block-edit {
				margin-top: 12px;
				margin-bottom: 18px;
			}
		}
	}

	&.gt-columns-2 > .editor-inner-blocks > .editor-block-list__layout {
		grid-template-columns: repeat(2, 1fr);
	}

	&.gt-columns-3 > .editor-inner-blocks > .editor-block-list__layout {
		grid-template-columns: repeat(3, 1fr);
	}

	&.gt-columns-4 > .editor-inner-blocks > .editor-block-list__layout {
		grid-template-columns: repeat(4, 1fr);
	}

	&.gt-columns-5 > .editor-inner-blocks > .editor-block-list__layout {
		grid-template-columns: repeat(5, 1fr);
	}

	&.gt-columns-6 > .editor-inner-blocks > .editor-block-list__layout {
		grid-template-columns: repeat(6, 1fr);
	}
}

/* Add Grid Item*/
.gt-add-grid-item.components-button.is-large {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 18px 0 0;
	padding: 25px 20px 20px;
	width: 100%;
	height: auto;
	box-shadow: none;
	border: 1px solid #ddd;
	border-radius: 0;

	&:hover,
	&:focus {
		border: 1px solid #999;
		box-shadow: none;
	}
}

@media (min-width: 600px) {
	.gt-grid-container {

		> .editor-inner-blocks > .editor-block-list__layout {

			> [data-type="gt-layout-blocks/column"] > .editor-block-contextual-toolbar {
				transform: translateY( -40px );
			}
		}
	}
}
