.editor-block-list__block .gt-grid-container {
	display: block;
	margin: 0;

	.wp-block-gt-blocks-column {
		padding-right: 0;
		width: 100%;
	}
		
	> .editor-inner-blocks > .editor-block-list__layout {

		> [data-type="gt-blocks/column"] {
			margin-left: 0;
			margin-right: 0;
			min-width: 0;

			> .editor-block-list__block-edit {
				margin-top: 12px;
				margin-bottom: 18px;
			}
		}
	}
}

@media only screen and (min-width: 480px) {
	.editor-block-list__block .gt-columns-2,
	.editor-block-list__block .gt-columns-4,
	.editor-block-list__block .gt-columns-5,
	.editor-block-list__block .gt-columns-6 {
		> .editor-inner-blocks > .editor-block-list__layout {
			display: flex;
			flex-wrap: wrap;

			> [data-type="gt-blocks/column"] {
				width: 50%;
			}
		}
	}
}

@media only screen and (min-width: 720px) {
	.editor-block-list__block .gt-columns-3 {
		> .editor-inner-blocks > .editor-block-list__layout {
			display: flex;
			flex-wrap: wrap;

			> [data-type="gt-blocks/column"] {
				width: 33.3333333333333%;
			}
		}
	}

	.editor-block-list__block .gt-columns-5,
	.editor-block-list__block .gt-columns-6 {
		> .editor-inner-blocks > .editor-block-list__layout {
			> [data-type="gt-blocks/column"] {
				width: 33.3333333333333%;
			}
		}
	}
}

@media only screen and (min-width: 960px) {
	.editor-block-list__block .gt-columns-4 {
		> .editor-inner-blocks > .editor-block-list__layout {
			> [data-type="gt-blocks/column"] {
				width: 25%;
			}
		}
	}
}

@media only screen and (min-width: 1040px) {
	.editor-block-list__block .gt-columns-5 {
		> .editor-inner-blocks > .editor-block-list__layout {
			> [data-type="gt-blocks/column"] {
				width: 20%;
			}
		}
	}
}

@media only screen and (min-width: 1120px) {
	.editor-block-list__block .gt-columns-6 {
		> .editor-inner-blocks > .editor-block-list__layout {
			> [data-type="gt-blocks/column"] {
				width: 16.666666666666%;
			}
		}
	}
}

/* Add Grid Item*/
.gt-add-grid-item.components-button.is-large {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 12px 0 0;
	padding: 8px;
	width: 100%;
	height: auto;
	box-shadow: none;
	background: #fafafa;
	border: 1px solid #ddd;

	svg {
		margin-right: 8px;
	}

	&:hover,
	&:focus {
		background: #f0f0f0;
		border: 1px solid #999;
		box-shadow: none;
	}
}

@media (min-width: 600px) {
	.gt-grid-container {

		> .editor-inner-blocks > .editor-block-list__layout {

			> [data-type="gt-blocks/column"] > .editor-block-contextual-toolbar {
				transform: translateY( -40px );
			}
		}
	}
}
