.gt-grid-container {
	display: grid;
	grid-gap: 1.5em;

	.wp-block-gt-layout-blocks-column {
		min-width: 0;
	}

	&.gt-columns-2 {
		grid-template-columns: repeat(2, 1fr);
	}

	&.gt-columns-3 {
		grid-template-columns: repeat(3, 1fr);
	}

	&.gt-columns-4 {
		grid-template-columns: repeat(4, 1fr);
	}

	&.gt-columns-5 {
		grid-template-columns: repeat(5, 1fr);
	}

	&.gt-columns-6 {
		grid-template-columns: repeat(6, 1fr);
	}
}
