.wp-block-german-themes-blocks-services {

    background: #ddd;
    border: 5px solid red;
    padding: 1rem;

    /* Portfolio Grid Layout */
    .gt-grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1.5em;
    }

    &.gt-columns-2 .gt-grid-container {
        grid-template-columns: repeat(2, 1fr);
    }

    &.gt-columns-4 .gt-grid-container {
        grid-template-columns: repeat(4, 1fr);
    }

    &.gt-columns-5 .gt-grid-container {
        grid-template-columns: repeat(5, 1fr);
    }

    &.gt-columns-6 .gt-grid-container {
        grid-template-columns: repeat(6, 1fr);
    }

    p {
        font-size: 1.4rem;
    }
}
