.wp-block-german-themes-blocks-image-text {

    .block-image {
        .image-wrapper {
            margin: 0;
        }
        .block-image-placeholder {
            height: 100%;
            .components-form-file-upload {
                margin-bottom: 12px;
            }
        }
    }

    .block-content {
        .block-title {
            margin-bottom: 0.5em;
        }
    }
}
