$black: #222;
$dark: red;
$light: rgba(254, 243, 224, 0.52);

.wp-block-german-themes-blocks-image-text {

    display: grid;
	grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    padding: 1em;
    border: 1px solid #ddd;
    box-shadow: 5px 10px 5px #e5e5e5;

    .block-image {

        img {
            margin: 0;
            vertical-align: top;
        }
    }

    .block-content {

    }
}
