/* Block Columns */
.wp-block-german-themes-blocks-image-text {
    display: flex;
}

.wp-block-german-themes-blocks-image-text .block-image {
    width: 50%;
}

.wp-block-german-themes-blocks-image-text .block-content {
    width: 50%;

    padding-left: 1.5em;
    box-sizing: border-box;
}

/* Different Column Sizes */
.wp-block-german-themes-blocks-image-text.block-column-25 .block-image {
    width: 25%;
}

.wp-block-german-themes-blocks-image-text.block-column-25 .block-content {
    width: 75%;
}

.wp-block-german-themes-blocks-image-text.block-column-33 .block-image {
    width: 33.3333333333%;
}

.wp-block-german-themes-blocks-image-text.block-column-33 .block-content {
    width: 66.6666666666%;
}

.wp-block-german-themes-blocks-image-text.block-column-40 .block-image {
    width: 40%;
}

.wp-block-german-themes-blocks-image-text.block-column-40 .block-content {
    width: 60%;
}

.wp-block-german-themes-blocks-image-text.block-column-66 .block-image {
    width: 66.6666666666%;
}

.wp-block-german-themes-blocks-image-text.block-column-66 .block-content {
    width: 33.3333333333%;
}

/* Block Image */
.wp-block-german-themes-blocks-image-text .block-image img {
    margin: 0;
    vertical-align: top;
}

/* Block Content */
.wp-block-german-themes-blocks-image-text .block-content .block-title {

}

/* Center Vertical */
.wp-block-german-themes-blocks-image-text.gt-vertical-centered {
    align-items: center;
}

.wp-block-german-themes-blocks-image-text.gt-invert-layout .block-image {
    order: 2;
}

.wp-block-german-themes-blocks-image-text.gt-invert-layout .block-content {
    order: 1;
    padding-left: 0;
    padding-right: 1.5em;
}
