.wp-block-gt-layout-blocks-features {

    /* Features Grid Item */
    .gt-grid-item {
        display: flex;
        flex-direction: column;

        /* Features Grid Item Content */
        .gt-content {

            .gt-title {
                margin: 1em 0 0.75em;
                color: inherit;
            }

            .gt-title[data-is-placeholder-visible=true] {
                top: -1em;
            }

            .gt-text p {
                color: inherit;
                font-size: inherit;
            }
        }

        /* Features Grid Item Controls*/
        .gt-grid-item-controls {
            display: flex;
            margin-top: 16px;
            padding: 8px;
            width: 100%;
            background: #edeff0;
            border: 1px solid #e2e4e7;

            .components-icon-button {
                padding: 4px 5px;

                &:hover,
                &:active,
                &:focus {
                    background: #fff;
                }

                .dashicon {
                    width: 18px;
                }
            }

            .remove-features-item {
                margin-left: auto;
            }
        }
    }

    /* Add Features Item*/
    .gt-add-features-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1.5rem;
        padding: 25px 20px 20px;
        width: 100%;
        height: auto;
        box-shadow: none;
        border: 1px solid #ddd;
        border-radius: 0;

        &:hover,
        &:focus {
            border: 1px solid #999;
            box-shadow: none;
        }
    }

    .gt-icon-wrapper {

        a.gt-show-icon-picker {
            color: inherit;
            cursor: pointer;

            .gt-icon-svg .icon {
                pointer-events: none;
            }
        }

        .gt-icon-picker {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 999;
            display: flex;
            justify-content: center;
            background: #fff;
            padding: 1.5rem;

            .gt-icon-picker-box {
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 100%;
                max-height: 500px;

                .gt-icon-picker-header {
                    margin: 0 0 0.5rem;

                    .gt-icon-picker-title {
                        display: flex;
                        justify-content: space-between;
                        background: #edeff0;
                        border: 1px solid #e2e4e7;
                        padding: 0.5rem 0.5rem 0.5rem 1rem;
                        margin: 0 0 1rem;
                    }
                }

                .gt-icon-picker-list {
                    overflow-y: scroll;
                    background: #fff;
                    padding-right: 8px;

                    .gt-icon-picker-grid {
                        display: grid;
                        grid-gap: 4px;
                        grid-template-columns: repeat(auto-fill, minmax( 72px, 1fr ) );

                        .gt-icon-link {
                            display: block;
                            background: #f0f0f0;

                            &:hover,
                            &:active {
                                background: #e0e0e0;
                                cursor: pointer;
                            }

                            .gt-icon-svg {
                            	display: inline-block;
                                padding: 16px;

                                .icon {
                                	width: 24px;
                                	height: 24px;
                                	fill: #202020;
                                    vertical-align: middle;
                                    pointer-events: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
