.wp-block-gt-layout-blocks-heading {

	.gt-title {

		&.editor-rich-text__tinymce.mce-content-body {
			line-height: 1.4;
		}

		&.gt-is-inline-block {
			margin-top: 0;
			margin-bottom: 0;
		}
	}
}
