.wp-block-gt-layout-blocks-heading {
	margin-top: 24px;
	margin-bottom: 24px;
	line-height: 1.4;
	font-weight: normal;
	font-style: normal;
	text-transform: none;

	&.has-background {
		padding: 12px 24px;
	}
}
