.wp-block-gt-layout-blocks-features {

    /* Features Grid Layout */
    .gt-grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }

    &.gt-columns-3 .gt-grid-container {
        grid-template-columns: repeat(3, 1fr);
    }

    &.gt-columns-4 .gt-grid-container {
        grid-template-columns: repeat(4, 1fr);
    }

    &.gt-columns-5 .gt-grid-container {
        grid-template-columns: repeat(5, 1fr);
    }

    &.gt-columns-6 .gt-grid-container {
        grid-template-columns: repeat(6, 1fr);
    }

    /* Features Item Styling */
    .gt-grid-item {

        .gt-icon-wrap {
            text-align: center;

            .gt-icon {
                padding-top: 1rem;

                .gt-icon-svg {
                    display: inline-block;
                    line-height: 0;

                    .icon {
                    	margin: 0;
                    	width: 32px;
                    	height: 32px;
                    	vertical-align: middle;
                    	fill: currentColor;
                    }
                }

                &.has-icon-background {
                    padding: 2rem 0;
                }

                &.gt-icon-square {
                    display: inline-block;
                    padding: 2rem;
                }

                &.gt-icon-circle {
                    display: inline-block;
                    padding: 1.5em;
                    border-radius: 100%;
                }

                &.gt-icon-outline {
                    padding: 0;

                    .gt-icon-svg {
                        display: inline-block;
                        padding: 2rem;
                        border-radius: 100%;
                        border: 3px solid currentColor;
                    }

                    &.has-icon-background {
                        padding: 1.5rem 0;
                    }
                }
            }
        }

        .gt-content {


            .gt-title {

            }
        }

        .gt-content.has-background {
            padding: 0.001rem 1.25rem;
        }
    }
}
