.wp-block-german-themes-blocks-features {

    /* Features Grid Layout */
    .gt-grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }

    &.gt-columns-3 .gt-grid-container {
        grid-template-columns: repeat(3, 1fr);
    }

    &.gt-columns-4 .gt-grid-container {
        grid-template-columns: repeat(4, 1fr);
    }

    &.gt-columns-5 .gt-grid-container {
        grid-template-columns: repeat(5, 1fr);
    }

    &.gt-columns-6 .gt-grid-container {
        grid-template-columns: repeat(6, 1fr);
    }

    /* Features Item Styling */
    .gt-grid-item {

        .gt-icon-wrap {
            text-align: center;

            .gt-icon {
                padding: 2rem 1rem;

                .gt-icon-svg {
                    display: inline-block;

                    .icon {
                    	margin: 0;
                    	width: 64px;
                    	height: 64px;
                    	vertical-align: middle;
                    	fill: currentColor;
                    }
                }

                &.gt-icon-square {
                    display: inline-block;
                    padding: 1.5rem;
                }

                &.gt-icon-circle {
                    display: inline-block;
                    padding: 1.5rem;
                    border-radius: 6rem;
                }

                &.gt-icon-outline .gt-icon-svg {
                    display: inline-block;
                    padding: 1.5rem;
                    border-radius: 6rem;
                    border: 5px solid currentColor;
                }

                &:not(.has-icon-color) {
                    color: #fff;
                }

                &:not(.has-icon-background) {
                    background-color: #303030;
                }
            }
        }

        .gt-content {


            .gt-title {

            }
        }

        .gt-content.has-background {
            padding: 0.001rem 1.25rem;
        }
    }
}
