.wp-block-german-themes-blocks-features {

    /* Features Grid Layout */
    .gt-grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }

    &.gt-columns-3 .gt-grid-container {
        grid-template-columns: repeat(3, 1fr);
    }

    &.gt-columns-4 .gt-grid-container {
        grid-template-columns: repeat(4, 1fr);
    }

    &.gt-columns-5 .gt-grid-container {
        grid-template-columns: repeat(5, 1fr);
    }

    &.gt-columns-6 .gt-grid-container {
        grid-template-columns: repeat(6, 1fr);
    }

    /* Features Item Styling */
    .gt-grid-item {

        .gt-icon {
        	background: #202020;
            padding: 2rem 1rem;
            text-align: center;

            .icon {
            	margin: 0;
            	width: 64px;
            	height: 64px;
            	vertical-align: middle;
            	fill: #fff;
            }
        }

        .gt-content {
            padding-top: 1rem;

            .gt-title {
                margin-top: 0;
            }
        }

        .gt-content.has-background {
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }
}
