.wp-block-german-themes-blocks-portfolio {

    /* Portfolio Grid Item */
    .gt-grid-item {
        display: flex;
        flex-direction: column;

        /* Block Image Edit */
        .gt-image {

            /* Image was added in Editor */
            .gt-image-wrapper {

                .gt-edit-image {
                    position: relative;

                    &:hover {
                        cursor: pointer;
                    }

                    .remove-image {
                        position: absolute;
                        top: 8px;
                        right: 8px;
                        color: #fff;
                        background: rgba(0,0,0,0.6);
                        padding: 5px;
                        border: 3px solid transparent;
                    }
                }
            }

            /* Image Placeholder */
            .gt-image .gt-image-placeholder .components-form-file-upload {
                margin-bottom: 12px;
            }
        }

        /* Portfolio Grid Item Content */
        .gt-content {
            margin-bottom: 16px;

            .gt-title {
                color: inherit;
                margin-top: 0 !important;
            }

            .gt-text p {
                color: inherit;
                font-size: inherit;
            }

            .gt-button[data-is-placeholder-visible='true'] {
                background: none;
            }
        }

        /* Portfolio Grid Item URL Input */
        .gt-url-input {
            margin-top: auto;
            padding-top: 8px;
            border-top: 1px dotted #ccc;
            background: #fff;
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            .editor-url-input {
                width: auto;
            }

            > .dashicon {
                width: 24px;
            }

            .dashicon {
                color: #8f98a1;
            }

            .editor-url-input input[type=text]::placeholder {
                color: #8f98a1;
            }

            [data-align="center"] & {
                margin-left: auto;
                margin-right: auto;
            }

            [data-align="right"] & {
                margin-left: auto;
                margin-right: 0;
            }
        }

        /* Portfolio Grid Item Controls*/
        .gt-grid-item-controls {
            display: flex;
            margin-top: 5px;
            padding: 4px;
            width: 100%;
            background: #00a0d2;

            .gt-grid-item-number {
                margin: 2px 10px;
                color: #fff;
                font-size: 14px;
                font-weight: bold;
            }

            .components-icon-button {
                padding: 4px 5px;
                color: #fff;

                &:hover,
                &:active,
                &:focus {
                    background: none;
                }
            }

            .remove-portfolio-item {
                margin-left: auto;

                .dashicon {
                    width: 18px;
                }
            }
        }
    }

    /* Add Portfolio Item*/
    .gt-add-portfolio-item.button-large {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 16px;
        padding: 25px 20px 20px;
        width: 100%;
        height: auto;
        box-shadow: none;
        border: 1px solid #ddd;
        border-radius: 0;

        &:hover,
        &:focus {
            border: 1px solid #999;
        }
    }
}
