/* Block Image Edit */
.wp-block-german-themes-blocks-portfolio .gt-image-wrapper .gt-edit-image {
    position: relative;
}

.wp-block-german-themes-blocks-portfolio .gt-image-wrapper .gt-edit-image:hover {
    cursor: pointer;
}

.wp-block-german-themes-blocks-portfolio .gt-image-wrapper .gt-edit-image .remove-image {
    position: absolute;
    top: 8px;
    right: 8px;
    color: #fff;
    background: rgba(0,0,0,0.6);
    padding: 5px;
    border: 3px solid transparent;
}

/* Block Image Placeholder */
.wp-block-german-themes-blocks-portfolio .gt-image .gt-image-placeholder .components-form-file-upload {
    margin-bottom: 12px;
}

/* Block Title */
.wp-block-german-themes-blocks-portfolio .gt-content .gt-title {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

/* Font Size */
.wp-block-german-themes-blocks-portfolio .gt-content .gt-title p {
    font-size: inherit;
}

/* Block Portfolio Grid Controls */
.wp-block-german-themes-blocks-portfolio .gt-add-portfolio-item.button-large {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
    padding: 25px 20px 20px;
    width: 100%;
    height: auto;
    box-shadow: none;
    border: 1px solid #ddd;
    border-radius: 0;
}

.wp-block-german-themes-blocks-portfolio .gt-add-portfolio-item.button-large:hover,
.wp-block-german-themes-blocks-portfolio .gt-add-portfolio-item.button-large:focus {
    border: 1px solid #999;
}

/* Portfolio Grid Item Controls*/
.wp-block-german-themes-blocks-portfolio .gt-grid-container .gt-grid-item .gt-grid-item-controls {
    display: flex;
    margin-top: 5px;
    padding: 4px;
    width: 100%;
    background: #00a0d2;
}

.wp-block-german-themes-blocks-portfolio .gt-grid-container .gt-grid-item .gt-grid-item-controls .gt-grid-item-number {
    margin: 2px 10px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}

.wp-block-german-themes-blocks-portfolio .gt-grid-container .gt-grid-item .gt-grid-item-controls .components-icon-button {
    padding: 4px 5px;
    color: #fff;
}

.wp-block-german-themes-blocks-portfolio .gt-grid-container .gt-grid-item .gt-grid-item-controls .components-icon-button:hover,
.wp-block-german-themes-blocks-portfolio .gt-grid-container .gt-grid-item .gt-grid-item-controls .components-icon-button:active,
.wp-block-german-themes-blocks-portfolio .gt-grid-container .gt-grid-item .gt-grid-item-controls .components-icon-button:focus {
    background: none;
}

.wp-block-german-themes-blocks-portfolio .gt-grid-container .gt-grid-item .gt-grid-item-controls .remove-portfolio-item {
    margin-left: auto;
}

.wp-block-german-themes-blocks-portfolio .gt-grid-container .gt-grid-item .gt-grid-item-controls .components-icon-button .dashicon {
    width: 18px;
}

/* Portfolio Grid Item URL Input */
.wp-block-german-themes-blocks-portfolio .gt-url-input {
	margin-top: 1.5rem;
    padding-top: 0.25rem;
    border-top: 1px dotted #ccc;
    background: #fff;
	display: flex;
	flex-wrap: wrap;
	align-items: center;

	.editor-url-input {
		width: auto;
	}

	> .dashicon {
		width: 24px;
	}

	.dashicon {
		color: #8f98a1;
	}

	.editor-url-input input[type=text]::placeholder {
		color: #8f98a1;
	}

	[data-align="center"] & {
		margin-left: auto;
		margin-right: auto;
	}

	[data-align="right"] & {
		margin-left: auto;
		margin-right: 0;
	}
}
