.wp-block-gt-blocks-portfolio {

	&.is-style-card .wp-block-gt-blocks-column .gt-column {
		padding: 24px 24px 1px;

		> .editor-inner-blocks > .editor-block-list__layout {

			> .editor-block-list__block[data-type="gt-blocks/image"] {
				margin-top: -56px;
				margin-left: -25px;
				margin-right: -25px;
			}
		}
	}
}
