/*Block Panels*/
.edit-post-sidebar .gt-panel {
  border-top: 1px solid #e2e4e7; }
/* Block Image Edit */
.wp-block-german-themes-blocks-image-text .image-wrapper .edit-image {
  position: relative; }

.wp-block-german-themes-blocks-image-text .image-wrapper .edit-image:hover {
  cursor: pointer; }

.wp-block-german-themes-blocks-image-text .image-wrapper .edit-image .remove-image {
  position: absolute;
  top: 8px;
  right: 8px;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  padding: 5px;
  border: 3px solid transparent; }

/* Block Image Placeholder */
.wp-block-german-themes-blocks-image-text .block-image .block-image-placeholder {
  height: 100%; }

.wp-block-german-themes-blocks-image-text .block-image .block-image-placeholder .components-form-file-upload {
  margin-bottom: 12px; }

/* Block Title */
.wp-block-german-themes-blocks-image-text .block-content .block-title {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  color: inherit; }

/* Font Size */
.wp-block-german-themes-blocks-image-text .block-content .block-text p {
  font-size: inherit; }

/* Change Size of Vertical Alignment Icons */
.edit-post-sidebar .gt-vertical-align-control button svg {
  width: 20px;
  height: 20px; }

/* Change Size of Toolbar Icons */
.editor-block-toolbar .gt-image-position-toolbar-icon svg {
  width: 20px;
  height: 20px; }
.wp-block-german-themes-blocks-portfolio {
  /* Portfolio Grid Item */
  /* Add Portfolio Item*/ }
  .wp-block-german-themes-blocks-portfolio .gt-grid-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /* Block Image Edit */
    /* Portfolio Grid Item Content */
    /* Portfolio Grid Item URL Input */
    /* Portfolio Grid Item Controls*/ }
    .wp-block-german-themes-blocks-portfolio .gt-grid-item .gt-image {
      /* Image was added in Editor */
      /* Image Placeholder */ }
      .wp-block-german-themes-blocks-portfolio .gt-grid-item .gt-image .gt-image-wrapper .gt-edit-image {
        position: relative; }
        .wp-block-german-themes-blocks-portfolio .gt-grid-item .gt-image .gt-image-wrapper .gt-edit-image:hover {
          cursor: pointer; }
        .wp-block-german-themes-blocks-portfolio .gt-grid-item .gt-image .gt-image-wrapper .gt-edit-image .remove-image {
          position: absolute;
          top: 8px;
          right: 8px;
          color: #fff;
          background: rgba(0, 0, 0, 0.6);
          padding: 5px;
          border: 3px solid transparent; }
      .wp-block-german-themes-blocks-portfolio .gt-grid-item .gt-image .gt-image .gt-image-placeholder .components-form-file-upload {
        margin-bottom: 12px; }
    .wp-block-german-themes-blocks-portfolio .gt-grid-item .gt-content {
      margin-bottom: 16px; }
      .wp-block-german-themes-blocks-portfolio .gt-grid-item .gt-content .gt-title {
        margin-top: 0 !important; }
      .wp-block-german-themes-blocks-portfolio .gt-grid-item .gt-content .gt-text p {
        font-size: inherit; }
      .wp-block-german-themes-blocks-portfolio .gt-grid-item .gt-content .gt-button[data-is-placeholder-visible='true'] {
        background: none; }
    .wp-block-german-themes-blocks-portfolio .gt-grid-item .gt-url-input {
      margin-top: auto;
      padding-top: 8px;
      border-top: 1px dotted #ccc;
      background: #fff;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .wp-block-german-themes-blocks-portfolio .gt-grid-item .gt-url-input .editor-url-input {
        width: auto; }
      .wp-block-german-themes-blocks-portfolio .gt-grid-item .gt-url-input > .dashicon {
        width: 24px; }
      .wp-block-german-themes-blocks-portfolio .gt-grid-item .gt-url-input .dashicon {
        color: #8f98a1; }
      .wp-block-german-themes-blocks-portfolio .gt-grid-item .gt-url-input .editor-url-input input[type=text]::-webkit-input-placeholder {
        color: #8f98a1; }
      .wp-block-german-themes-blocks-portfolio .gt-grid-item .gt-url-input .editor-url-input input[type=text]:-ms-input-placeholder {
        color: #8f98a1; }
      .wp-block-german-themes-blocks-portfolio .gt-grid-item .gt-url-input .editor-url-input input[type=text]::-ms-input-placeholder {
        color: #8f98a1; }
      .wp-block-german-themes-blocks-portfolio .gt-grid-item .gt-url-input .editor-url-input input[type=text]::placeholder {
        color: #8f98a1; }
      [data-align="center"] .wp-block-german-themes-blocks-portfolio .gt-grid-item .gt-url-input {
        margin-left: auto;
        margin-right: auto; }
      [data-align="right"] .wp-block-german-themes-blocks-portfolio .gt-grid-item .gt-url-input {
        margin-left: auto;
        margin-right: 0; }
    .wp-block-german-themes-blocks-portfolio .gt-grid-item .gt-grid-item-controls {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-top: 5px;
      padding: 4px;
      width: 100%;
      background: #00a0d2; }
      .wp-block-german-themes-blocks-portfolio .gt-grid-item .gt-grid-item-controls .gt-grid-item-number {
        margin: 2px 10px;
        color: #fff;
        font-size: 14px;
        font-weight: bold; }
      .wp-block-german-themes-blocks-portfolio .gt-grid-item .gt-grid-item-controls .components-icon-button {
        padding: 4px 5px;
        color: #fff; }
        .wp-block-german-themes-blocks-portfolio .gt-grid-item .gt-grid-item-controls .components-icon-button:hover, .wp-block-german-themes-blocks-portfolio .gt-grid-item .gt-grid-item-controls .components-icon-button:active, .wp-block-german-themes-blocks-portfolio .gt-grid-item .gt-grid-item-controls .components-icon-button:focus {
          background: none; }
      .wp-block-german-themes-blocks-portfolio .gt-grid-item .gt-grid-item-controls .remove-portfolio-item {
        margin-left: auto; }
        .wp-block-german-themes-blocks-portfolio .gt-grid-item .gt-grid-item-controls .remove-portfolio-item .dashicon {
          width: 18px; }
  .wp-block-german-themes-blocks-portfolio .gt-add-portfolio-item.button-large {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 16px;
    padding: 25px 20px 20px;
    width: 100%;
    height: auto;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 1px solid #ddd;
    border-radius: 0; }
    .wp-block-german-themes-blocks-portfolio .gt-add-portfolio-item.button-large:hover, .wp-block-german-themes-blocks-portfolio .gt-add-portfolio-item.button-large:focus {
      border: 1px solid #999; }
.wp-block-german-themes-blocks-services {
  padding: 0;
  /* Portfolio Grid Layout */ }
  .wp-block-german-themes-blocks-services .gt-grid-container {
    display: block; }
    .wp-block-german-themes-blocks-services .gt-grid-container > .editor-inner-blocks > .editor-block-list__layout {
      display: grid;
      grid-template-columns: repeat(3, 1fr); }
  .wp-block-german-themes-blocks-services.gt-columns-2 .gt-grid-container > .editor-inner-blocks > .editor-block-list__layout {
    grid-template-columns: repeat(2, 1fr); }
  .wp-block-german-themes-blocks-services.gt-columns-4 .gt-grid-container > .editor-inner-blocks > .editor-block-list__layout {
    grid-template-columns: repeat(4, 1fr); }
  .wp-block-german-themes-blocks-services.gt-columns-5 .gt-grid-container > .editor-inner-blocks > .editor-block-list__layout {
    grid-template-columns: repeat(5, 1fr); }
  .wp-block-german-themes-blocks-services.gt-columns-6 .gt-grid-container > .editor-inner-blocks > .editor-block-list__layout {
    grid-template-columns: repeat(6, 1fr); }
.wp-block-german-themes-blocks-testimonials .sorry.warning {
  background: #C44D58;
  color: white;
  font-size: 1.2rem; }
