/* Block Image Edit */
.wp-block-german-themes-blocks-image-text .image-wrapper .edit-image {
  position: relative; }

.wp-block-german-themes-blocks-image-text .image-wrapper .edit-image:hover {
  cursor: pointer; }

.wp-block-german-themes-blocks-image-text .image-wrapper .edit-image .remove-image {
  position: absolute;
  top: 8px;
  right: 8px;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  padding: 5px;
  border: 3px solid transparent; }

/* Block Image Placeholder */
.wp-block-german-themes-blocks-image-text .block-image .block-image-placeholder {
  height: 100%; }

.wp-block-german-themes-blocks-image-text .block-image .block-image-placeholder .components-form-file-upload {
  margin-bottom: 12px; }

/* Block Title */
.wp-block-german-themes-blocks-image-text .block-content .block-title {
  margin-top: 0.5em;
  margin-bottom: 0.5em; }

/* Font Size */
.wp-block-german-themes-blocks-image-text .block-content .block-text p {
  font-size: inherit; }

/* Change Size of Vertical Alignment Icons */
.edit-post-sidebar .gt-vertical-align-control button svg {
  width: 20px;
  height: 20px; }

/* Change Size of Toolbar Icons */
.editor-block-toolbar .gt-image-position-toolbar-icon svg {
  width: 20px;
  height: 20px; }
.wp-block-german-themes-blocks-portfolio .sorry.warning {
  background: #C44D58;
  color: white;
  font-size: 1.2rem; }
.wp-block-german-themes-blocks-testimonials .sorry.warning {
  background: #C44D58;
  color: white;
  font-size: 1.2rem; }
