.gt-remove-margin-bottom {
  margin-bottom: 0 !important; }
.wp-block-gt-blocks-button {
  margin-bottom: 1.5em; }
  .wp-block-gt-blocks-button:not(.has-text-color) {
    color: #fff; }
  .wp-block-gt-blocks-button .gt-button {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    border: none;
    border-radius: inherit;
    -webkit-box-shadow: none;
            box-shadow: none;
    white-space: normal;
    word-break: break-all;
    cursor: pointer;
    color: inherit;
    /* Lighten Hover Style */
    /* Darken Hover Style */
    /* Underlined Hover Style */
    /* Custom Color Hover Style */ }
    .wp-block-gt-blocks-button .gt-button .gt-button-inner {
      display: inline-block;
      border-radius: inherit; }
      .wp-block-gt-blocks-button .gt-button .gt-button-inner:not(.has-background) {
        background-color: #303030; }
      .wp-block-gt-blocks-button .gt-button .gt-button-inner:hover, .wp-block-gt-blocks-button .gt-button .gt-button-inner:active, .wp-block-gt-blocks-button .gt-button .gt-button-inner:focus {
        color: inherit; }
    .wp-block-gt-blocks-button .gt-button.gt-button-small .gt-button-inner {
      padding: 0.75rem;
      font-size: 0.9em; }
    .wp-block-gt-blocks-button .gt-button.gt-button-medium .gt-button-inner {
      padding: 1rem 1.25rem;
      font-size: 1.0em; }
    .wp-block-gt-blocks-button .gt-button.gt-button-large .gt-button-inner {
      padding: 1.25rem 1.5rem;
      font-size: 1.1em; }
    .wp-block-gt-blocks-button .gt-button.gt-button-extra-large .gt-button-inner {
      padding: 1.5rem 2rem;
      font-size: 1.2em; }
    .wp-block-gt-blocks-button .gt-button.gt-is-uppercase {
      text-transform: uppercase;
      font-size: 0.9em;
      line-height: 1.1; }
    .wp-block-gt-blocks-button .gt-button.gt-is-bold {
      font-weight: bold; }
    .wp-block-gt-blocks-button .gt-button.gt-is-italic {
      font-style: italic; }
    .wp-block-gt-blocks-button .gt-button.gt-button-circular {
      border-radius: 200px; }
    .wp-block-gt-blocks-button .gt-button.gt-button-rounded {
      border-radius: 5px; }
    .wp-block-gt-blocks-button .gt-button.gt-hover-style-lightened:hover .gt-button-inner,
    .wp-block-gt-blocks-button .gt-button.gt-hover-style-lightened:active .gt-button-inner,
    .wp-block-gt-blocks-button .gt-button.gt-hover-style-lightened:focus .gt-button-inner {
      -webkit-box-shadow: inset 0 0 300px rgba(255, 255, 255, 0.2);
              box-shadow: inset 0 0 300px rgba(255, 255, 255, 0.2); }
    .wp-block-gt-blocks-button .gt-button.gt-hover-style-darkened:hover .gt-button-inner,
    .wp-block-gt-blocks-button .gt-button.gt-hover-style-darkened:active .gt-button-inner,
    .wp-block-gt-blocks-button .gt-button.gt-hover-style-darkened:focus .gt-button-inner {
      -webkit-box-shadow: inset 0 0 300px rgba(0, 0, 0, 0.2);
              box-shadow: inset 0 0 300px rgba(0, 0, 0, 0.2); }
    .wp-block-gt-blocks-button .gt-button.gt-hover-style-underlined:hover .gt-button-inner,
    .wp-block-gt-blocks-button .gt-button.gt-hover-style-underlined:active .gt-button-inner,
    .wp-block-gt-blocks-button .gt-button.gt-hover-style-underlined:focus .gt-button-inner {
      text-decoration: underline; }
    .wp-block-gt-blocks-button .gt-button.has-hover-color:hover .gt-button-inner,
    .wp-block-gt-blocks-button .gt-button.has-hover-color:active .gt-button-inner,
    .wp-block-gt-blocks-button .gt-button.has-hover-color:focus .gt-button-inner {
      background-color: transparent !important;
      -webkit-box-shadow: none;
              box-shadow: none; }
  .wp-block-gt-blocks-button.gt-align-center {
    text-align: center; }
  .wp-block-gt-blocks-button.gt-align-right {
    text-align: right; }
.wp-block-gt-blocks-column {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  margin-bottom: 1.5em;
  min-width: 0;
  word-break: break-word;
  overflow-wrap: break-word; }
  .wp-block-gt-blocks-column .gt-column {
    -ms-flex-positive: 1;
        flex-grow: 1; }
    .wp-block-gt-blocks-column .gt-column.has-background {
      padding: 1.5rem; }
      .wp-block-gt-blocks-column .gt-column.has-background > *:last-child {
        margin-bottom: 0; }
.wp-block-gt-blocks-content {
  margin-bottom: 1.5em; }
  .wp-block-gt-blocks-content .gt-content.has-background {
    padding: 1.5rem; }
    .wp-block-gt-blocks-content .gt-content.has-background > h1, .wp-block-gt-blocks-content .gt-content.has-background > h2, .wp-block-gt-blocks-content .gt-content.has-background > h3, .wp-block-gt-blocks-content .gt-content.has-background > h4, .wp-block-gt-blocks-content .gt-content.has-background > h5, .wp-block-gt-blocks-content .gt-content.has-background > h6 {
      margin-top: 0; }
    .wp-block-gt-blocks-content .gt-content.has-background > *:last-child {
      margin-bottom: 0; }
.wp-block-gt-blocks-features {
  margin-bottom: 1.5em; }
  .wp-block-gt-blocks-features.is-style-card .wp-block-gt-blocks-column .gt-column {
    padding: 1.5rem;
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
            box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5); }
    .wp-block-gt-blocks-features.is-style-card .wp-block-gt-blocks-column .gt-column.has-background {
      -webkit-box-shadow: none;
              box-shadow: none; }
    .wp-block-gt-blocks-features.is-style-card .wp-block-gt-blocks-column .gt-column > *:first-child.wp-block-gt-blocks-icon {
      margin-top: -1.5rem;
      margin-left: -1.5rem;
      margin-right: -1.5rem;
      margin-bottom: 1.5rem; }
    .wp-block-gt-blocks-features.is-style-card .wp-block-gt-blocks-column .gt-column > *:last-child {
      margin-bottom: 0; }
@media only screen and (min-width: 480px) {
  .gt-columns-2,
  .gt-columns-4,
  .gt-columns-5,
  .gt-columns-6 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: -1.5em;
    margin-bottom: -1.5em; }
    .gt-columns-2 .wp-block-gt-blocks-column,
    .gt-columns-4 .wp-block-gt-blocks-column,
    .gt-columns-5 .wp-block-gt-blocks-column,
    .gt-columns-6 .wp-block-gt-blocks-column {
      padding-right: 1.5em;
      width: 50%; } }

@media only screen and (min-width: 720px) {
  .gt-columns-3 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: -1.5em;
    margin-bottom: -1.5em; }
    .gt-columns-3 .wp-block-gt-blocks-column {
      padding-right: 1.5em;
      width: 33.3333333333333%; }
  .gt-columns-5 .wp-block-gt-blocks-column,
  .gt-columns-6 .wp-block-gt-blocks-column {
    width: 33.3333333333333%; } }

@media only screen and (min-width: 960px) {
  .gt-columns-4 .wp-block-gt-blocks-column {
    width: 25%; } }

@media only screen and (min-width: 1040px) {
  .gt-columns-5 .wp-block-gt-blocks-column {
    width: 20%; } }

@media only screen and (min-width: 1120px) {
  .gt-columns-6 .wp-block-gt-blocks-column {
    width: 16.666666666666%; } }
.wp-block-gt-blocks-grid-layout {
  margin-bottom: 1.5em; }
.gt-heading {
  color: inherit; }
  .gt-heading.has-background {
    padding: 12px 24px; }
.wp-block-gt-blocks-hero-image {
  margin-bottom: 1.5em; }
  .wp-block-gt-blocks-hero-image .gt-heading {
    margin-top: 0;
    margin-bottom: 1.5rem; }
  .wp-block-gt-blocks-hero-image .gt-buttons-wrapper {
    margin-bottom: 0; }

@media only screen and (min-width: 560px) {
  .wp-block-gt-blocks-hero-image .gt-hero-section {
    /* Left & Right Hero Layout */
    /* Hero Content Width */ }
    .wp-block-gt-blocks-hero-image .gt-hero-section.gt-hero-layout-left, .wp-block-gt-blocks-hero-image .gt-hero-section.gt-hero-layout-right {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
          align-items: center;
      margin-right: -1.5rem; }
      .wp-block-gt-blocks-hero-image .gt-hero-section.gt-hero-layout-left .wp-block-gt-blocks-content,
      .wp-block-gt-blocks-hero-image .gt-hero-section.gt-hero-layout-left .wp-block-gt-blocks-image, .wp-block-gt-blocks-hero-image .gt-hero-section.gt-hero-layout-right .wp-block-gt-blocks-content,
      .wp-block-gt-blocks-hero-image .gt-hero-section.gt-hero-layout-right .wp-block-gt-blocks-image {
        width: 50%;
        padding-right: 1.5rem;
        margin-bottom: 0; }
    .wp-block-gt-blocks-hero-image .gt-hero-section.gt-hero-layout-left {
      -ms-flex-pack: start;
          justify-content: flex-start; }
    .wp-block-gt-blocks-hero-image .gt-hero-section.gt-hero-layout-right {
      -ms-flex-pack: end;
          justify-content: flex-end; }
    .wp-block-gt-blocks-hero-image .gt-hero-section.gt-hero-layout-right.gt-has-hero-image {
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }
    .wp-block-gt-blocks-hero-image .gt-hero-section.gt-hero-content-width-30 .wp-block-gt-blocks-content {
      width: 30%; }
    .wp-block-gt-blocks-hero-image .gt-hero-section.gt-hero-content-width-30 .wp-block-gt-blocks-image {
      width: 70%; }
    .wp-block-gt-blocks-hero-image .gt-hero-section.gt-hero-content-width-40 .wp-block-gt-blocks-content {
      width: 40%; }
    .wp-block-gt-blocks-hero-image .gt-hero-section.gt-hero-content-width-40 .wp-block-gt-blocks-image {
      width: 60%; }
    .wp-block-gt-blocks-hero-image .gt-hero-section.gt-hero-content-width-60 .wp-block-gt-blocks-content {
      width: 60%; }
    .wp-block-gt-blocks-hero-image .gt-hero-section.gt-hero-content-width-60 .wp-block-gt-blocks-image {
      width: 40%; }
    .wp-block-gt-blocks-hero-image .gt-hero-section.gt-hero-content-width-70 .wp-block-gt-blocks-content {
      width: 70%; }
    .wp-block-gt-blocks-hero-image .gt-hero-section.gt-hero-content-width-70 .wp-block-gt-blocks-image {
      width: 30%; } }
.gt-background-section {
  position: relative;
  padding: 0 2rem;
  /* Padding Top */
  /* Padding Bottom */ }
  .gt-background-section.gt-normal-top-padding {
    padding-top: 2rem; }
  .gt-background-section.gt-medium-top-padding {
    padding-top: 4rem; }
  .gt-background-section.gt-large-top-padding {
    padding-top: 8rem; }
  .gt-background-section.gt-normal-bottom-padding {
    padding-bottom: 2rem; }
  .gt-background-section.gt-medium-bottom-padding {
    padding-bottom: 4rem; }
  .gt-background-section.gt-large-bottom-padding {
    padding-bottom: 8rem; }
  .gt-background-section.gt-has-background-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }
  .gt-background-section.gt-fixed-background {
    background-attachment: fixed; }
  .gt-background-section .gt-background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; }
  .gt-background-section .gt-section-content {
    position: relative;
    margin: 0 auto;
    z-index: 2; }
    .gt-background-section .gt-section-content > p:empty:last-child {
      margin: -3em 0 0; }
    .gt-background-section .gt-section-content > *:last-child {
      margin-bottom: 0; }
    .gt-background-section .gt-section-content.gt-narrow-width {
      max-width: 560px; }
    .gt-background-section .gt-section-content.gt-default-width {
      max-width: 720px; }
    .gt-background-section .gt-section-content.gt-wide-width {
      max-width: 880px; }
    .gt-background-section .gt-section-content.gt-full-width {
      max-width: 1040px; }
.wp-block-gt-blocks-icon {
  margin-bottom: 1.5em; }
  .wp-block-gt-blocks-icon .gt-icon {
    display: inline-block; }
    .wp-block-gt-blocks-icon .gt-icon .gt-icon-svg {
      display: inline-block;
      line-height: 0; }
      .wp-block-gt-blocks-icon .gt-icon .gt-icon-svg .icon {
        margin: 0;
        width: 32px;
        height: 32px;
        vertical-align: middle;
        fill: currentColor; }
    .wp-block-gt-blocks-icon .gt-icon.gt-icon-full {
      display: block;
      padding: 0 1.25rem; }
      .wp-block-gt-blocks-icon .gt-icon.gt-icon-full .gt-icon-svg {
        padding-top: 32px;
        padding-bottom: 32px; }
    .wp-block-gt-blocks-icon .gt-icon.gt-icon-square {
      display: inline-block;
      padding: 0; }
      .wp-block-gt-blocks-icon .gt-icon.gt-icon-square .gt-icon-svg {
        padding: 32px; }
    .wp-block-gt-blocks-icon .gt-icon.gt-icon-circle {
      display: inline-block;
      padding: 0;
      border-radius: 100%; }
      .wp-block-gt-blocks-icon .gt-icon.gt-icon-circle .gt-icon-svg {
        padding: 32px; }
    .wp-block-gt-blocks-icon .gt-icon.gt-icon-outline {
      padding: 0; }
      .wp-block-gt-blocks-icon .gt-icon.gt-icon-outline .gt-icon-svg {
        display: inline-block;
        padding: 32px;
        border-radius: 100%;
        border: 2px solid currentColor; }
      .wp-block-gt-blocks-icon .gt-icon.gt-icon-outline.has-background {
        padding: 1.25rem; }
    .wp-block-gt-blocks-icon .gt-icon.gt-icon-circle:not(.has-background), .wp-block-gt-blocks-icon .gt-icon.gt-icon-square:not(.has-background), .wp-block-gt-blocks-icon .gt-icon.gt-icon-full:not(.has-background) {
      background-color: rgba(0, 0, 0, 0.1); }
.wp-block-gt-blocks-image {
  margin-bottom: 1.5em; }
  .wp-block-gt-blocks-image img {
    margin: 0;
    vertical-align: top; }
  .wp-block-gt-blocks-image.is-style-circle img {
    border-radius: 100%; }
.wp-block-gt-blocks-multiple-buttons {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-right: -1.5rem;
  margin-bottom: 1.5em; }
  .wp-block-gt-blocks-multiple-buttons .wp-block-gt-blocks-button {
    margin-right: 1.5rem;
    margin-bottom: 0; }
  .wp-block-gt-blocks-multiple-buttons.gt-align-center {
    -ms-flex-pack: center;
        justify-content: center; }
  .wp-block-gt-blocks-multiple-buttons.gt-align-right {
    -ms-flex-pack: end;
        justify-content: flex-end; }
.wp-block-gt-blocks-portfolio {
  margin-bottom: 1.5em; }
  .wp-block-gt-blocks-portfolio.is-style-card .wp-block-gt-blocks-column .gt-column {
    padding: 1.5rem;
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
            box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5); }
    .wp-block-gt-blocks-portfolio.is-style-card .wp-block-gt-blocks-column .gt-column.has-background {
      -webkit-box-shadow: none;
              box-shadow: none; }
    .wp-block-gt-blocks-portfolio.is-style-card .wp-block-gt-blocks-column .gt-column > *:first-child.wp-block-gt-blocks-image {
      margin-top: -1.5rem;
      margin-left: -1.5rem;
      margin-right: -1.5rem;
      margin-bottom: 1.5rem; }
    .wp-block-gt-blocks-portfolio.is-style-card .wp-block-gt-blocks-column .gt-column > *:last-child {
      margin-bottom: 0; }
.wp-block-gt-blocks-section {
  margin-bottom: 1.5em; }
