.wp-block-german-themes-blocks-portfolio {
  background: rgba(254, 243, 224, 0.52);
  border: 5px #3322ee solid;
  padding: 1rem; }
  .wp-block-german-themes-blocks-portfolio h2 {
    color: #222;
    font-size: 1.5rem;
    margin: 0 0 1rem; }
  .wp-block-german-themes-blocks-portfolio p {
    font-size: 1.4rem; }
.wp-block-german-themes-blocks-testimonials {
  background: rgba(254, 243, 224, 0.52);
  border: 5px #f7b733 solid;
  padding: 1rem; }
  .wp-block-german-themes-blocks-testimonials h2 {
    color: #222;
    font-size: 2rem;
    margin: 1rem 0; }
  .wp-block-german-themes-blocks-testimonials p {
    font-size: 1.4rem; }
.wp-block-german-themes-blocks-image-text {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  padding: 1em;
  border: 1px solid #ddd;
  -webkit-box-shadow: 5px 10px 5px #e5e5e5;
          box-shadow: 5px 10px 5px #e5e5e5; }
  .wp-block-german-themes-blocks-image-text .block-image img {
    margin: 0;
    vertical-align: top; }
