.wp-block-german-themes-blocks-portfolio .sorry.warning {
  background: #C44D58;
  color: white;
  font-size: 1.2rem; }
.wp-block-german-themes-blocks-testimonials .sorry.warning {
  background: #C44D58;
  color: white;
  font-size: 1.2rem; }
.wp-block-german-themes-blocks-image-text .block-image .block-image-placeholder {
  height: 100%; }
  .wp-block-german-themes-blocks-image-text .block-image .block-image-placeholder .components-form-file-upload {
    margin-bottom: 12px; }

.wp-block-german-themes-blocks-image-text .block-image .image-wrapper {
  position: relative; }
  .wp-block-german-themes-blocks-image-text .block-image .image-wrapper .image-buttons {
    position: absolute;
    right: 5px;
    bottom: 5px; }
    .wp-block-german-themes-blocks-image-text .block-image .image-wrapper .image-buttons .edit-image {
      display: inline-block;
      background: #fff;
      padding: 8px 10px 5px;
      margin-right: 5px; }
    .wp-block-german-themes-blocks-image-text .block-image .image-wrapper .image-buttons .remove-image {
      display: inline-block;
      padding: 8px 10px 4px;
      background: #fff; }

.wp-block-german-themes-blocks-image-text .block-content .block-title {
  margin-bottom: 0.5em; }
