.gt-remove-margin-bottom {
  margin-bottom: 0 !important; }
.wp-block-gt-layout-blocks-button {
  margin-bottom: 1.5em; }
  .wp-block-gt-layout-blocks-button .gt-button-wrap {
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 1; }
    .wp-block-gt-layout-blocks-button .gt-button-wrap .gt-button {
      display: inline-block;
      margin: 0;
      padding: 0;
      font-weight: normal;
      font-style: normal;
      line-height: 1;
      text-align: center;
      text-decoration: none;
      text-transform: none;
      border: none;
      border-radius: inherit;
      -webkit-box-shadow: none;
              box-shadow: none;
      white-space: normal;
      word-break: break-all;
      cursor: pointer; }
      .wp-block-gt-layout-blocks-button .gt-button-wrap .gt-button:not(.has-background) {
        background-color: #303030; }
      .wp-block-gt-layout-blocks-button .gt-button-wrap .gt-button:not(.has-text-color):not(.gt-ghost-button) {
        color: #fff; }
      .wp-block-gt-layout-blocks-button .gt-button-wrap .gt-button.gt-button-small {
        padding: 0.5em 0.75em; }
      .wp-block-gt-layout-blocks-button .gt-button-wrap .gt-button.gt-button-medium {
        padding: 1em 1.25em; }
      .wp-block-gt-layout-blocks-button .gt-button-wrap .gt-button.gt-button-large {
        padding: 1.5em 2em; }
      .wp-block-gt-layout-blocks-button .gt-button-wrap .gt-button.gt-button-extra-large {
        padding: 2em 3em; }
      .wp-block-gt-layout-blocks-button .gt-button-wrap .gt-button.gt-is-uppercase {
        text-transform: uppercase; }
    .wp-block-gt-layout-blocks-button .gt-button-wrap:not(.has-hover-background) {
      background-color: #424242; }
    .wp-block-gt-layout-blocks-button .gt-button-wrap:not(.has-hover-text-color):not(.gt-button-outline) {
      color: #fff; }
    .wp-block-gt-layout-blocks-button .gt-button-wrap:hover .gt-button,
    .wp-block-gt-layout-blocks-button .gt-button-wrap:active .gt-button,
    .wp-block-gt-layout-blocks-button .gt-button-wrap:focus .gt-button {
      color: inherit;
      background: transparent; }
    .wp-block-gt-layout-blocks-button .gt-button-wrap.gt-button-circle {
      border-radius: 100%; }
    .wp-block-gt-layout-blocks-button .gt-button-wrap.gt-button-rounded {
      border-radius: 12px; }
    .wp-block-gt-layout-blocks-button .gt-button-wrap.gt-button-outline {
      background: transparent;
      border-radius: 12px; }
      .wp-block-gt-layout-blocks-button .gt-button-wrap.gt-button-outline .gt-button {
        background: transparent;
        border: 2px solid currentColor; }
  .wp-block-gt-layout-blocks-button.gt-align-center {
    text-align: center; }
  .wp-block-gt-layout-blocks-button.gt-align-right {
    text-align: right; }
.wp-block-gt-layout-blocks-buttons {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-right: -1.5em;
  margin-bottom: 1.5em; }
  .wp-block-gt-layout-blocks-buttons .wp-block-gt-layout-blocks-button {
    margin-right: 1.5em;
    margin-bottom: 0; }
  .wp-block-gt-layout-blocks-buttons.gt-align-center {
    -ms-flex-pack: center;
        justify-content: center; }
  .wp-block-gt-layout-blocks-buttons.gt-align-right {
    -ms-flex-pack: end;
        justify-content: flex-end; }
.wp-block-gt-layout-blocks-column {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  margin-bottom: 1.5em;
  min-width: 0;
  word-break: break-word;
  overflow-wrap: break-word; }
  .wp-block-gt-layout-blocks-column .gt-column {
    -ms-flex-positive: 1;
        flex-grow: 1; }
    .wp-block-gt-layout-blocks-column .gt-column.has-background {
      padding: 1.5rem; }
      .wp-block-gt-layout-blocks-column .gt-column.has-background > *:last-child {
        margin-bottom: 0; }
.wp-block-gt-layout-blocks-content .gt-content.has-background {
  padding: 1.5em; }
  .wp-block-gt-layout-blocks-content .gt-content.has-background > h1, .wp-block-gt-layout-blocks-content .gt-content.has-background > h2, .wp-block-gt-layout-blocks-content .gt-content.has-background > h3, .wp-block-gt-layout-blocks-content .gt-content.has-background > h4, .wp-block-gt-layout-blocks-content .gt-content.has-background > h5, .wp-block-gt-layout-blocks-content .gt-content.has-background > h6 {
    margin-top: 0; }
  .wp-block-gt-layout-blocks-content .gt-content.has-background > *:last-child {
    margin-bottom: 0; }
.wp-block-gt-layout-blocks-features {
  margin-bottom: 1.5em; }
@media only screen and (min-width: 480px) {
  .gt-columns-2,
  .gt-columns-4,
  .gt-columns-5,
  .gt-columns-6 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: -1.5em;
    margin-bottom: -1.5em; }
    .gt-columns-2 .wp-block-gt-layout-blocks-column,
    .gt-columns-4 .wp-block-gt-layout-blocks-column,
    .gt-columns-5 .wp-block-gt-layout-blocks-column,
    .gt-columns-6 .wp-block-gt-layout-blocks-column {
      padding-right: 1.5em;
      width: 50%; } }

@media only screen and (min-width: 720px) {
  .gt-columns-3 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: -1.5em;
    margin-bottom: -1.5em; }
    .gt-columns-3 .wp-block-gt-layout-blocks-column {
      padding-right: 1.5em;
      width: 33.3333333333333%; }
  .gt-columns-5 .wp-block-gt-layout-blocks-column,
  .gt-columns-6 .wp-block-gt-layout-blocks-column {
    width: 33.3333333333333%; } }

@media only screen and (min-width: 960px) {
  .gt-columns-4 .wp-block-gt-layout-blocks-column {
    width: 25%; } }

@media only screen and (min-width: 1040px) {
  .gt-columns-5 .wp-block-gt-layout-blocks-column {
    width: 20%; } }

@media only screen and (min-width: 1120px) {
  .gt-columns-6 .wp-block-gt-layout-blocks-column {
    width: 16.666666666666%; } }
.wp-block-gt-layout-blocks-grid-layout {
  margin-bottom: 1.5em; }
.gt-heading {
  display: block;
  font-weight: normal;
  font-style: normal;
  text-transform: none;
  border: none; }
  .gt-heading.has-background {
    padding: 12px 24px; }
  .gt-heading.gt-is-bold {
    font-weight: 700; }
  .gt-heading.gt-is-uppercase {
    text-transform: uppercase; }
.wp-block-gt-layout-blocks-hero-image {
  margin-bottom: 1.5em; }
  .wp-block-gt-layout-blocks-hero-image .gt-hero-section {
    display: -ms-flexbox;
    display: flex;
    /* Hero Content width for Left & Right Layout */ }
    .wp-block-gt-layout-blocks-hero-image .gt-hero-section .wp-block-gt-layout-blocks-content,
    .wp-block-gt-layout-blocks-hero-image .gt-hero-section .wp-block-gt-layout-blocks-image {
      width: 100%; }
    .wp-block-gt-layout-blocks-hero-image .gt-hero-section .wp-block-gt-layout-blocks-content {
      -ms-flex-order: 2;
          order: 2;
      -ms-flex-positive: 0;
          flex-grow: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0; }
    .wp-block-gt-layout-blocks-hero-image .gt-hero-section .wp-block-gt-layout-blocks-image {
      -ms-flex-order: 1;
          order: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }
    .wp-block-gt-layout-blocks-hero-image .gt-hero-section.gt-hero-layout-center {
      -ms-flex-direction: column;
          flex-direction: column;
      -ms-flex-align: center;
          align-items: center; }
    .wp-block-gt-layout-blocks-hero-image .gt-hero-section.gt-hero-layout-left.gt-has-hero-image {
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
      -ms-flex-pack: start;
          justify-content: flex-start; }
    .wp-block-gt-layout-blocks-hero-image .gt-hero-section.gt-hero-layout-right {
      -ms-flex-pack: end;
          justify-content: flex-end; }
    .wp-block-gt-layout-blocks-hero-image .gt-hero-section.gt-hero-layout-left, .wp-block-gt-layout-blocks-hero-image .gt-hero-section.gt-hero-layout-right {
      margin-right: -1.5rem; }
      .wp-block-gt-layout-blocks-hero-image .gt-hero-section.gt-hero-layout-left .wp-block-gt-layout-blocks-content, .wp-block-gt-layout-blocks-hero-image .gt-hero-section.gt-hero-layout-right .wp-block-gt-layout-blocks-content {
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
        padding-right: 1.5rem; }
      .wp-block-gt-layout-blocks-hero-image .gt-hero-section.gt-hero-layout-left .wp-block-gt-layout-blocks-image, .wp-block-gt-layout-blocks-hero-image .gt-hero-section.gt-hero-layout-right .wp-block-gt-layout-blocks-image {
        padding-right: 1.5rem; }
    .wp-block-gt-layout-blocks-hero-image .gt-hero-section.gt-hero-content-width-20 .wp-block-gt-layout-blocks-content {
      -ms-flex-preferred-size: 20%;
          flex-basis: 20%; }
    .wp-block-gt-layout-blocks-hero-image .gt-hero-section.gt-hero-content-width-30 .wp-block-gt-layout-blocks-content {
      -ms-flex-preferred-size: 30%;
          flex-basis: 30%; }
    .wp-block-gt-layout-blocks-hero-image .gt-hero-section.gt-hero-content-width-40 .wp-block-gt-layout-blocks-content {
      -ms-flex-preferred-size: 40%;
          flex-basis: 40%; }
    .wp-block-gt-layout-blocks-hero-image .gt-hero-section.gt-hero-content-width-60 .wp-block-gt-layout-blocks-content {
      -ms-flex-preferred-size: 60%;
          flex-basis: 60%; }
    .wp-block-gt-layout-blocks-hero-image .gt-hero-section.gt-hero-content-width-70 .wp-block-gt-layout-blocks-content {
      -ms-flex-preferred-size: 70%;
          flex-basis: 70%; }
    .wp-block-gt-layout-blocks-hero-image .gt-hero-section.gt-hero-content-width-80 .wp-block-gt-layout-blocks-content {
      -ms-flex-preferred-size: 80%;
          flex-basis: 80%; }
  .wp-block-gt-layout-blocks-hero-image .gt-heading {
    margin-top: 0;
    margin-bottom: 1.5rem; }
  .wp-block-gt-layout-blocks-hero-image .gt-buttons-wrapper .wp-block-gt-layout-blocks-button {
    margin-bottom: 0; }
.gt-background-section {
  position: relative;
  padding: 0; }
  .gt-background-section.gt-normal-padding {
    padding: 2rem; }
  .gt-background-section.gt-large-padding {
    padding: 4rem; }
  .gt-background-section.gt-has-background-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }
  .gt-background-section.gt-fixed-background {
    background-attachment: fixed; }
  .gt-background-section .gt-background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; }
  .gt-background-section .gt-section-content {
    position: relative;
    margin: 0 auto;
    z-index: 2; }
    .gt-background-section .gt-section-content > p:empty:last-child {
      margin: -3em 0 0; }
    .gt-background-section .gt-section-content > *:last-child {
      margin-bottom: 0; }
    .gt-background-section .gt-section-content.gt-narrow-width {
      max-width: 560px; }
    .gt-background-section .gt-section-content.gt-default-width {
      max-width: 720px; }
    .gt-background-section .gt-section-content.gt-wide-width {
      max-width: 880px; }
    .gt-background-section .gt-section-content.gt-full-width {
      max-width: 1040px; }
.wp-block-gt-layout-blocks-icon {
  margin-bottom: 1.5em; }
  .wp-block-gt-layout-blocks-icon .gt-icon {
    display: inline-block; }
    .wp-block-gt-layout-blocks-icon .gt-icon .gt-icon-svg {
      display: inline-block;
      line-height: 0; }
      .wp-block-gt-layout-blocks-icon .gt-icon .gt-icon-svg .icon {
        margin: 0;
        width: 32px;
        height: 32px;
        vertical-align: middle;
        fill: currentColor; }
    .wp-block-gt-layout-blocks-icon .gt-icon.gt-icon-full {
      display: block;
      padding: 0 1.25rem; }
      .wp-block-gt-layout-blocks-icon .gt-icon.gt-icon-full .gt-icon-svg {
        padding-top: 32px;
        padding-bottom: 32px; }
    .wp-block-gt-layout-blocks-icon .gt-icon.gt-icon-square {
      display: inline-block;
      padding: 0; }
      .wp-block-gt-layout-blocks-icon .gt-icon.gt-icon-square .gt-icon-svg {
        padding: 32px; }
    .wp-block-gt-layout-blocks-icon .gt-icon.gt-icon-circle {
      display: inline-block;
      padding: 0;
      border-radius: 100%; }
      .wp-block-gt-layout-blocks-icon .gt-icon.gt-icon-circle .gt-icon-svg {
        padding: 32px; }
    .wp-block-gt-layout-blocks-icon .gt-icon.gt-icon-outline {
      padding: 0; }
      .wp-block-gt-layout-blocks-icon .gt-icon.gt-icon-outline .gt-icon-svg {
        display: inline-block;
        padding: 32px;
        border-radius: 100%;
        border: 2px solid currentColor; }
      .wp-block-gt-layout-blocks-icon .gt-icon.gt-icon-outline.has-background {
        padding: 1.25rem; }
    .wp-block-gt-layout-blocks-icon .gt-icon.gt-icon-circle:not(.has-background), .wp-block-gt-layout-blocks-icon .gt-icon.gt-icon-square:not(.has-background), .wp-block-gt-layout-blocks-icon .gt-icon.gt-icon-full:not(.has-background) {
      background-color: rgba(0, 0, 0, 0.1); }
.wp-block-gt-layout-blocks-image img {
  margin: 0;
  vertical-align: top; }

.wp-block-gt-layout-blocks-image.is-style-circle img {
  border-radius: 100%; }
.wp-block-gt-layout-blocks-portfolio {
  margin-bottom: 1.5em; }
  .wp-block-gt-layout-blocks-portfolio.is-style-card .wp-block-gt-layout-blocks-column .gt-column {
    padding: 1.5rem;
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
            box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5); }
    .wp-block-gt-layout-blocks-portfolio.is-style-card .wp-block-gt-layout-blocks-column .gt-column.has-background {
      -webkit-box-shadow: none;
              box-shadow: none; }
    .wp-block-gt-layout-blocks-portfolio.is-style-card .wp-block-gt-layout-blocks-column .gt-column > *:first-child.wp-block-gt-layout-blocks-image {
      margin-top: -1.5rem;
      margin-left: -1.5rem;
      margin-right: -1.5rem;
      margin-bottom: 1.5rem; }
    .wp-block-gt-layout-blocks-portfolio.is-style-card .wp-block-gt-layout-blocks-column .gt-column > *:last-child {
      margin-bottom: 0; }
.wp-block-gt-layout-blocks-section {
  margin-bottom: 1.5em; }
