.edit-post-sidebar .gt-panel-synchronize-styling .components-button.is-large {
  height: 36px;
  line-height: 34px;
  padding: 0 12px 2px; }
  .edit-post-sidebar .gt-panel-synchronize-styling .components-button.is-large svg.dashicon {
    margin: 7px 7px 0 0; }
.edit-post-sidebar .gt-panel-section-insert .components-button.is-large {
  height: 36px;
  line-height: 34px;
  margin: 2px 0 12px;
  padding: 0 12px 2px; }
  .edit-post-sidebar .gt-panel-section-insert .components-button.is-large svg.dashicon {
    margin: 7px 7px 0 0; }
.wp-block-gt-layout-blocks-button .gt-button-wrap .gt-button {
  cursor: text; }

.wp-block-gt-layout-blocks-button .gt-button-wrap.gt-button-circle .gt-button {
  border-radius: 100%; }

.wp-block-gt-layout-blocks-button .gt-button-wrap.gt-button-rounded .gt-button,
.wp-block-gt-layout-blocks-button .gt-button-wrap.gt-button-outline .gt-button {
  border-radius: 12px; }

.wp-block-gt-layout-blocks-button.gt-align-center .block-library-button__inline-link {
  margin-left: auto;
  margin-right: auto; }

.wp-block-gt-layout-blocks-button.gt-align-right .block-library-button__inline-link {
  margin-left: auto; }

.wp-block-gt-layout-blocks-button .block-library-button__inline-link {
  width: auto; }
  .wp-block-gt-layout-blocks-button .block-library-button__inline-link .editor-url-input input[type=text] {
    width: auto; }
.wp-block-gt-layout-blocks-buttons {
  margin-right: 0; }
  .wp-block-gt-layout-blocks-buttons .editor-block-list__layout {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; }
    .wp-block-gt-layout-blocks-buttons .editor-block-list__layout > .editor-block-list__block > .editor-block-list__block-edit {
      margin-top: 0;
      margin-bottom: 0; }
      .wp-block-gt-layout-blocks-buttons .editor-block-list__layout > .editor-block-list__block > .editor-block-list__block-edit .wp-block-gt-layout-blocks-button {
        margin-right: 0; }
.wp-block-gt-layout-blocks-column {
  /* Column Controls*/ }
  .wp-block-gt-layout-blocks-column .gt-column > .editor-inner-blocks {
    margin-top: -17px;
    margin-bottom: -17px; }
  .wp-block-gt-layout-blocks-column .gt-column.has-background > .editor-inner-blocks {
    margin-top: -30px;
    margin-bottom: -30px; }
  .wp-block-gt-layout-blocks-column .gt-column-controls {
    display: -ms-flexbox;
    display: flex;
    margin-top: 16px;
    padding: 8px;
    width: 100%;
    background: #edeff0;
    border: 1px solid #e2e4e7; }
    .wp-block-gt-layout-blocks-column .gt-column-controls .components-icon-button {
      padding: 4px 5px; }
      .wp-block-gt-layout-blocks-column .gt-column-controls .components-icon-button:hover, .wp-block-gt-layout-blocks-column .gt-column-controls .components-icon-button:active, .wp-block-gt-layout-blocks-column .gt-column-controls .components-icon-button:focus {
        background: #fff; }
      .wp-block-gt-layout-blocks-column .gt-column-controls .components-icon-button .dashicon {
        width: 18px; }
    .wp-block-gt-layout-blocks-column .gt-column-controls .remove-column {
      margin-left: auto; }
.wp-block-gt-layout-blocks-content .gt-content > .editor-inner-blocks {
  margin-top: -17px;
  margin-bottom: -17px; }

.wp-block-gt-layout-blocks-content .gt-content.has-background > .editor-inner-blocks {
  margin-top: -30px;
  margin-bottom: -30px; }
.wp-block-gt-layout-blocks-dual-heading .gt-heading.editor-rich-text__tinymce[data-is-placeholder-visible=true] {
  display: block; }

.wp-block-gt-layout-blocks-dual-heading .gt-subheading.editor-rich-text__tinymce {
  line-height: 1.4; }

.wp-block-gt-layout-blocks-dual-heading .gt-subheading.editor-rich-text__tinymce[data-is-placeholder-visible=true] {
  display: block; }
.editor-block-list__block .gt-grid-container {
  display: block; }
  .editor-block-list__block .gt-grid-container > .editor-inner-blocks > .editor-block-list__layout {
    display: grid;
    grid-gap: 0; }
    .editor-block-list__block .gt-grid-container > .editor-inner-blocks > .editor-block-list__layout > [data-type="gt-layout-blocks/column"] {
      min-width: 0;
      width: 100%; }
      .editor-block-list__block .gt-grid-container > .editor-inner-blocks > .editor-block-list__layout > [data-type="gt-layout-blocks/column"] > .editor-block-list__block-edit {
        margin-top: 12px;
        margin-bottom: 18px; }
  .editor-block-list__block .gt-grid-container.gt-columns-2 > .editor-inner-blocks > .editor-block-list__layout {
    grid-template-columns: repeat(2, 1fr); }
  .editor-block-list__block .gt-grid-container.gt-columns-3 > .editor-inner-blocks > .editor-block-list__layout {
    grid-template-columns: repeat(3, 1fr); }
  .editor-block-list__block .gt-grid-container.gt-columns-4 > .editor-inner-blocks > .editor-block-list__layout {
    grid-template-columns: repeat(4, 1fr); }
  .editor-block-list__block .gt-grid-container.gt-columns-5 > .editor-inner-blocks > .editor-block-list__layout {
    grid-template-columns: repeat(5, 1fr); }
  .editor-block-list__block .gt-grid-container.gt-columns-6 > .editor-inner-blocks > .editor-block-list__layout {
    grid-template-columns: repeat(6, 1fr); }

/* Add Grid Item*/
.gt-add-grid-item.components-button.is-large {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  margin: 18px 0 0;
  padding: 25px 20px 20px;
  width: 100%;
  height: auto;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #ddd;
  border-radius: 0; }
  .gt-add-grid-item.components-button.is-large:hover, .gt-add-grid-item.components-button.is-large:focus {
    border: 1px solid #999;
    -webkit-box-shadow: none;
            box-shadow: none; }

@media (min-width: 600px) {
  .gt-grid-container > .editor-inner-blocks > .editor-block-list__layout > [data-type="gt-layout-blocks/column"] > .editor-block-contextual-toolbar {
    -webkit-transform: translateY(-40px);
        -ms-transform: translateY(-40px);
            transform: translateY(-40px); } }
.gt-heading.editor-rich-text__tinymce.mce-content-body {
  line-height: 1.4; }
.wp-block-gt-layout-blocks-hero-image .gt-hero-section {
  display: block;
  /* Hero Content width for Left & Right Layout */ }
  .wp-block-gt-layout-blocks-hero-image .gt-hero-section.gt-hero-layout-left, .wp-block-gt-layout-blocks-hero-image .gt-hero-section.gt-hero-layout-right {
    margin-right: 0; }
    .wp-block-gt-layout-blocks-hero-image .gt-hero-section.gt-hero-layout-left .wp-block-gt-layout-blocks-content,
    .wp-block-gt-layout-blocks-hero-image .gt-hero-section.gt-hero-layout-left .wp-block-gt-layout-blocks-image, .wp-block-gt-layout-blocks-hero-image .gt-hero-section.gt-hero-layout-right .wp-block-gt-layout-blocks-content,
    .wp-block-gt-layout-blocks-hero-image .gt-hero-section.gt-hero-layout-right .wp-block-gt-layout-blocks-image {
      padding-right: 0; }
  .wp-block-gt-layout-blocks-hero-image .gt-hero-section > .editor-inner-blocks > .editor-block-list__layout {
    display: -ms-flexbox;
    display: flex; }
    .wp-block-gt-layout-blocks-hero-image .gt-hero-section > .editor-inner-blocks > .editor-block-list__layout .wp-block-gt-layout-blocks-content,
    .wp-block-gt-layout-blocks-hero-image .gt-hero-section > .editor-inner-blocks > .editor-block-list__layout .wp-block-gt-layout-blocks-image,
    .wp-block-gt-layout-blocks-hero-image .gt-hero-section > .editor-inner-blocks > .editor-block-list__layout > .editor-block-list__block {
      width: 100%; }
      .wp-block-gt-layout-blocks-hero-image .gt-hero-section > .editor-inner-blocks > .editor-block-list__layout .wp-block-gt-layout-blocks-content > .editor-block-list__block-edit,
      .wp-block-gt-layout-blocks-hero-image .gt-hero-section > .editor-inner-blocks > .editor-block-list__layout .wp-block-gt-layout-blocks-image > .editor-block-list__block-edit,
      .wp-block-gt-layout-blocks-hero-image .gt-hero-section > .editor-inner-blocks > .editor-block-list__layout > .editor-block-list__block > .editor-block-list__block-edit {
        margin-top: 12px;
        margin-bottom: 18px; }
    .wp-block-gt-layout-blocks-hero-image .gt-hero-section > .editor-inner-blocks > .editor-block-list__layout > .editor-block-list__block[data-type="gt-layout-blocks/content"] {
      -ms-flex-order: 2;
          order: 2;
      -ms-flex-positive: 0;
          flex-grow: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0; }
    .wp-block-gt-layout-blocks-hero-image .gt-hero-section > .editor-inner-blocks > .editor-block-list__layout > .editor-block-list__block[data-type="gt-layout-blocks/image"] {
      -ms-flex-order: 1;
          order: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }
  .wp-block-gt-layout-blocks-hero-image .gt-hero-section.gt-hero-layout-center > .editor-inner-blocks > .editor-block-list__layout {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center; }
  .wp-block-gt-layout-blocks-hero-image .gt-hero-section.gt-hero-layout-left > .editor-inner-blocks > .editor-block-list__layout {
    -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
    -ms-flex-pack: start;
        justify-content: flex-start; }
    .wp-block-gt-layout-blocks-hero-image .gt-hero-section.gt-hero-layout-left > .editor-inner-blocks > .editor-block-list__layout > .editor-block-list__block {
      margin-left: 0; }
  .wp-block-gt-layout-blocks-hero-image .gt-hero-section.gt-hero-layout-right > .editor-inner-blocks > .editor-block-list__layout {
    -ms-flex-pack: end;
        justify-content: flex-end; }
    .wp-block-gt-layout-blocks-hero-image .gt-hero-section.gt-hero-layout-right > .editor-inner-blocks > .editor-block-list__layout > .editor-block-list__block {
      margin-right: 0; }
  .wp-block-gt-layout-blocks-hero-image .gt-hero-section.gt-hero-layout-left > .editor-inner-blocks > .editor-block-list__layout > .editor-block-list__block[data-type="gt-layout-blocks/content"],
  .wp-block-gt-layout-blocks-hero-image .gt-hero-section.gt-hero-layout-right > .editor-inner-blocks > .editor-block-list__layout > .editor-block-list__block[data-type="gt-layout-blocks/content"] {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%; }
  .wp-block-gt-layout-blocks-hero-image .gt-hero-section.gt-hero-content-width-20 > .editor-inner-blocks > .editor-block-list__layout > .editor-block-list__block[data-type="gt-layout-blocks/content"] {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%; }
  .wp-block-gt-layout-blocks-hero-image .gt-hero-section.gt-hero-content-width-30 > .editor-inner-blocks > .editor-block-list__layout > .editor-block-list__block[data-type="gt-layout-blocks/content"] {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%; }
  .wp-block-gt-layout-blocks-hero-image .gt-hero-section.gt-hero-content-width-40 > .editor-inner-blocks > .editor-block-list__layout > .editor-block-list__block[data-type="gt-layout-blocks/content"] {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%; }
  .wp-block-gt-layout-blocks-hero-image .gt-hero-section.gt-hero-content-width-60 > .editor-inner-blocks > .editor-block-list__layout > .editor-block-list__block[data-type="gt-layout-blocks/content"] {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%; }
  .wp-block-gt-layout-blocks-hero-image .gt-hero-section.gt-hero-content-width-70 > .editor-inner-blocks > .editor-block-list__layout > .editor-block-list__block[data-type="gt-layout-blocks/content"] {
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%; }
  .wp-block-gt-layout-blocks-hero-image .gt-hero-section.gt-hero-content-width-80 > .editor-inner-blocks > .editor-block-list__layout > .editor-block-list__block[data-type="gt-layout-blocks/content"] {
    -ms-flex-preferred-size: 80%;
        flex-basis: 80%; }

@media (min-width: 600px) {
  .wp-block-gt-layout-blocks-hero-image .gt-hero-section > .editor-inner-blocks > .editor-block-list__layout > .editor-block-list__block > .editor-block-contextual-toolbar {
    -webkit-transform: translateY(-40px);
        -ms-transform: translateY(-40px);
            transform: translateY(-40px); } }

.gt-panel-hero-settings .gt-image-block-button {
  height: 36px;
  line-height: 34px;
  padding: 0 12px 2px; }
  .gt-panel-hero-settings .gt-image-block-button svg.dashicon {
    margin: 8px 8px 0 0;
    width: 18px;
    height: 18px; }

.wp-block.is-selected[data-type="gt-layout-blocks/hero-image"] .editor-block-list__layout .editor-block-list__block[data-type="gt-layout-blocks/content"] > .editor-block-list__block-edit:not(:hover):before {
  outline: 1px dashed rgba(145, 151, 162, 0.25); }
.gt-background-section.gt-normal-padding {
  padding: calc( 2rem - 30px) 2rem; }

.gt-background-section.gt-large-padding {
  padding: calc( 4rem - 30px) 4rem; }

.gt-background-section .gt-section-content {
  /* Block Appender
		.wp-block.editor-default-block-appender {
			height: 36px;

			textarea {
				height: 0;
			}

			.editor-inserter {
				width: 100%;
				text-align: center;
				
				.editor-inserter__toggle {
					background: #fff;
				}
			}
		} */ }
  .gt-background-section .gt-section-content h1, .gt-background-section .gt-section-content h2, .gt-background-section .gt-section-content h3, .gt-background-section .gt-section-content h4, .gt-background-section .gt-section-content h5, .gt-background-section .gt-section-content h6, .gt-background-section .gt-section-content p {
    color: inherit; }
  .gt-background-section .gt-section-content > .editor-inner-blocks > .editor-block-list__layout > .editor-block-list__block {
    margin-left: -1px;
    margin-right: -1px; }
  .gt-background-section .gt-section-content.gt-narrow-width > .editor-inner-blocks > .editor-block-list__layout > .editor-block-list__block {
    max-width: calc( 560px + 30px); }
  .gt-background-section .gt-section-content.gt-default-width > .editor-inner-blocks > .editor-block-list__layout > .editor-block-list__block {
    max-width: calc( 720px + 30px); }
  .gt-background-section .gt-section-content.gt-wide-width > .editor-inner-blocks > .editor-block-list__layout > .editor-block-list__block {
    max-width: calc( 880px + 30px); }
  .gt-background-section .gt-section-content.gt-full-width > .editor-inner-blocks > .editor-block-list__layout > .editor-block-list__block {
    max-width: calc( 1040px + 30px); }

.gt-background-image-panel .gt-background-image .gt-set-image {
  display: block;
  -webkit-transition: all .1s ease-out;
  -o-transition: all .1s ease-out;
  transition: all .1s ease-out;
  width: 100%;
  background-color: #edeff0;
  border: 1px dashed #a2aab2;
  line-height: 20px;
  padding: 10px 0;
  text-align: center; }
  .gt-background-image-panel .gt-background-image .gt-set-image:hover {
    background-color: #f8f9f9; }

.gt-background-image-panel .gt-background-image .gt-image-button {
  display: block;
  padding: 0; }
  .gt-background-image-panel .gt-background-image .gt-image-button img {
    vertical-align: top; }

.gt-background-image-panel .gt-background-image .gt-image-controls {
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
  margin-bottom: 1.5em; }
  .gt-background-image-panel .gt-background-image .gt-image-controls .gt-replace-image {
    margin-top: 3px;
    margin-right: 12px; }
/* Icon Picker Modal */
.gt-layout-blocks-icon-picker-modal {
  width: 100%;
  max-width: 800px; }
  .gt-layout-blocks-icon-picker-modal .components-modal__header-heading {
    width: 100%; }
  .gt-layout-blocks-icon-picker-modal .gt-icon-picker-title {
    display: -ms-flexbox;
    display: flex;
    font-size: 1rem;
    font-weight: bold; }
    .gt-layout-blocks-icon-picker-modal .gt-icon-picker-title .gt-remove-icon {
      margin-left: auto;
      margin-right: 1em;
      color: #bc0b0b; }
  .gt-layout-blocks-icon-picker-modal .gt-icon-picker-search {
    width: 100%;
    height: auto;
    font-size: 16px;
    padding: 6px 10px;
    margin-bottom: 12px; }
  .gt-layout-blocks-icon-picker-modal .gt-icon-picker-list .gt-icon-picker-grid {
    display: grid;
    grid-gap: 4px;
    grid-template-columns: repeat(auto-fill, minmax(56px, 1fr)); }
    .gt-layout-blocks-icon-picker-modal .gt-icon-picker-list .gt-icon-picker-grid .gt-icon-link {
      display: block;
      padding: 0;
      background: #f0f0f0;
      text-align: center; }
      .gt-layout-blocks-icon-picker-modal .gt-icon-picker-list .gt-icon-picker-grid .gt-icon-link:hover, .gt-layout-blocks-icon-picker-modal .gt-icon-picker-list .gt-icon-picker-grid .gt-icon-link:active {
        background: #e0e0e0;
        cursor: pointer; }
      .gt-layout-blocks-icon-picker-modal .gt-icon-picker-list .gt-icon-picker-grid .gt-icon-link .gt-icon-svg {
        display: inline-block;
        padding: 16px; }
        .gt-layout-blocks-icon-picker-modal .gt-icon-picker-list .gt-icon-picker-grid .gt-icon-link .gt-icon-svg .icon {
          width: 24px;
          height: 24px;
          fill: #202020;
          vertical-align: middle;
          pointer-events: none; }

/* Icon Picker Placeholder */
.gt-icon-placeholder-wrapper .gt-icon-placeholder {
  min-height: 150px; }

.gt-icon-placeholder-wrapper .gt-show-icon-picker {
  display: block;
  color: inherit;
  padding: 0;
  width: 100%;
  text-align: inherit;
  font-size: inherit; }
  .gt-icon-placeholder-wrapper .gt-show-icon-picker .gt-icon-svg .icon {
    pointer-events: none; }
  .gt-icon-placeholder-wrapper .gt-show-icon-picker:not(:disabled):not([aria-disabled=true]):focus {
    background-color: inherit;
    color: inherit;
    -webkit-box-shadow: none;
            box-shadow: none;
    outline: none; }
.gt-image-placeholder-wrapper {
  /* Image Placeholder */
  /* Image added in Editor */ }
  .gt-image-placeholder-wrapper figure {
    width: auto;
    margin: 0;
    padding: 0; }
  .gt-image-placeholder-wrapper .gt-image-placeholder {
    height: 100%; }
    .gt-image-placeholder-wrapper .gt-image-placeholder .components-form-file-upload {
      margin-bottom: 12px; }
  .gt-image-placeholder-wrapper .gt-image-editor {
    position: relative; }
    .gt-image-placeholder-wrapper .gt-image-editor .gt-replace-image {
      display: block;
      padding: 0; }
    .gt-image-placeholder-wrapper .gt-image-editor .gt-remove-image {
      position: absolute;
      top: 8px;
      right: 8px;
      color: #fff;
      background: rgba(0, 0, 0, 0.6);
      padding: 5px;
      border: 3px solid transparent; }
.wp-block-gt-layout-blocks-image-text {
  display: block; }
  .wp-block-gt-layout-blocks-image-text > .editor-inner-blocks > .editor-block-list__layout {
    display: -ms-flexbox;
    display: flex; }
    .wp-block-gt-layout-blocks-image-text > .editor-inner-blocks > .editor-block-list__layout .wp-block-gt-layout-blocks-content,
    .wp-block-gt-layout-blocks-image-text > .editor-inner-blocks > .editor-block-list__layout .wp-block-gt-layout-blocks-image {
      width: 100%; }
    .wp-block-gt-layout-blocks-image-text > .editor-inner-blocks > .editor-block-list__layout > .editor-block-list__block[data-type="gt-layout-blocks/content"],
    .wp-block-gt-layout-blocks-image-text > .editor-inner-blocks > .editor-block-list__layout > .editor-block-list__block[data-type="gt-layout-blocks/image"] {
      width: 50%; }
      .wp-block-gt-layout-blocks-image-text > .editor-inner-blocks > .editor-block-list__layout > .editor-block-list__block[data-type="gt-layout-blocks/content"] > .editor-block-list__block-edit,
      .wp-block-gt-layout-blocks-image-text > .editor-inner-blocks > .editor-block-list__layout > .editor-block-list__block[data-type="gt-layout-blocks/image"] > .editor-block-list__block-edit {
        margin-top: 12px;
        margin-bottom: 18px; }
  .wp-block-gt-layout-blocks-image-text.gt-image-position-right > .editor-inner-blocks > .editor-block-list__layout {
    -ms-flex-direction: row-reverse;
        flex-direction: row-reverse; }
  .wp-block-gt-layout-blocks-image-text.gt-vertical-align-center > .editor-inner-blocks > .editor-block-list__layout {
    -ms-flex-align: center;
        align-items: center; }
  .wp-block-gt-layout-blocks-image-text.gt-vertical-align-bottom > .editor-inner-blocks > .editor-block-list__layout {
    -ms-flex-align: end;
        align-items: flex-end; }

@media (min-width: 600px) {
  .wp-block-gt-layout-blocks-image-text > .editor-inner-blocks > .editor-block-list__layout > .editor-block-list__block > .editor-block-contextual-toolbar {
    -webkit-transform: translateY(-40px);
        -ms-transform: translateY(-40px);
            transform: translateY(-40px); } }
.wp-block-gt-layout-blocks-portfolio.is-style-card .wp-block-gt-layout-blocks-column .gt-column {
  padding: 24px 24px 1px; }
  .wp-block-gt-layout-blocks-portfolio.is-style-card .wp-block-gt-layout-blocks-column .gt-column > .editor-inner-blocks > .editor-block-list__layout > .editor-block-list__block[data-type="gt-layout-blocks/image"] {
    margin-top: -56px;
    margin-left: -25px;
    margin-right: -25px; }
@media (min-width: 600px) {
  .wp-block-gt-layout-blocks-team-members .gt-column > .editor-inner-blocks > .editor-block-list__layout > .editor-block-list__block[data-type="gt-layout-blocks/image"] {
    margin-bottom: -32px; } }
