.edit-post-sidebar .gt-panel-synchronize-styling {
  background-color: #edeff0; }
  .edit-post-sidebar .gt-panel-synchronize-styling .components-button.is-large {
    height: 36px;
    line-height: 34px;
    padding: 0 12px 2px; }
    .edit-post-sidebar .gt-panel-synchronize-styling .components-button.is-large svg.dashicon {
      margin: 7px 7px 0 0; }

.wp-block-gt-layout-blocks-column {
  /* Column Controls*/ }
  .wp-block-gt-layout-blocks-column .gt-column-controls {
    display: -ms-flexbox;
    display: flex;
    margin-top: 16px;
    padding: 8px;
    width: 100%;
    background: #edeff0;
    border: 1px solid #e2e4e7; }
    .wp-block-gt-layout-blocks-column .gt-column-controls .components-icon-button {
      padding: 4px 5px; }
      .wp-block-gt-layout-blocks-column .gt-column-controls .components-icon-button:hover, .wp-block-gt-layout-blocks-column .gt-column-controls .components-icon-button:active, .wp-block-gt-layout-blocks-column .gt-column-controls .components-icon-button:focus {
        background: #fff; }
      .wp-block-gt-layout-blocks-column .gt-column-controls .components-icon-button .dashicon {
        width: 18px; }
    .wp-block-gt-layout-blocks-column .gt-column-controls .remove-column {
      margin-left: auto; }
.edit-post-sidebar .gt-panel-synchronize-styling {
  background-color: #edeff0; }
  .edit-post-sidebar .gt-panel-synchronize-styling .components-button.is-large {
    height: 36px;
    line-height: 34px;
    padding: 0 12px 2px; }
    .edit-post-sidebar .gt-panel-synchronize-styling .components-button.is-large svg.dashicon {
      margin: 7px 7px 0 0; }

.wp-block-gt-layout-blocks-wrapper .editor-block-list__layout {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }
  .wp-block-gt-layout-blocks-wrapper .editor-block-list__layout .editor-block-list__block > .editor-block-list__block-edit {
    margin-top: 0;
    margin-bottom: 0; }
.edit-post-sidebar .gt-panel-synchronize-styling {
  background-color: #edeff0; }
  .edit-post-sidebar .gt-panel-synchronize-styling .components-button.is-large {
    height: 36px;
    line-height: 34px;
    padding: 0 12px 2px; }
    .edit-post-sidebar .gt-panel-synchronize-styling .components-button.is-large svg.dashicon {
      margin: 7px 7px 0 0; }

.wp-block-gt-layout-blocks-button .gt-button-wrap .gt-button {
  cursor: text; }

.wp-block-gt-layout-blocks-button .gt-button-wrap.gt-button-circle .gt-button {
  border-radius: 100%; }

.wp-block-gt-layout-blocks-button .gt-button-wrap.gt-button-rounded .gt-button {
  border-radius: 12px; }

.wp-block-gt-layout-blocks-button.gt-align-center .block-library-button__inline-link {
  margin-left: auto;
  margin-right: auto; }

.wp-block-gt-layout-blocks-button.gt-align-right .block-library-button__inline-link {
  margin-left: auto; }

.gt-panel-button-settings .gt-button-size-picker {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-bottom: 1em; }
.edit-post-sidebar .gt-panel-synchronize-styling {
  background-color: #edeff0; }
  .edit-post-sidebar .gt-panel-synchronize-styling .components-button.is-large {
    height: 36px;
    line-height: 34px;
    padding: 0 12px 2px; }
    .edit-post-sidebar .gt-panel-synchronize-styling .components-button.is-large svg.dashicon {
      margin: 7px 7px 0 0; }

.wp-block-gt-layout-blocks-container .gt-inner-content h1, .wp-block-gt-layout-blocks-container .gt-inner-content h2, .wp-block-gt-layout-blocks-container .gt-inner-content h3, .wp-block-gt-layout-blocks-container .gt-inner-content h4, .wp-block-gt-layout-blocks-container .gt-inner-content h5, .wp-block-gt-layout-blocks-container .gt-inner-content h6, .wp-block-gt-layout-blocks-container .gt-inner-content p {
  color: inherit; }

.gt-blocks-container-background-image-panel .gt-background-image .gt-set-image {
  display: block;
  -webkit-transition: all .1s ease-out;
  -o-transition: all .1s ease-out;
  transition: all .1s ease-out;
  width: 100%;
  background-color: #edeff0;
  border: 1px dashed #a2aab2;
  line-height: 20px;
  padding: 10px 0;
  text-align: center; }
  .gt-blocks-container-background-image-panel .gt-background-image .gt-set-image:hover {
    background-color: #f8f9f9; }

.gt-blocks-container-background-image-panel .gt-background-image .gt-image-button {
  display: block;
  padding: 0; }
  .gt-blocks-container-background-image-panel .gt-background-image .gt-image-button img {
    vertical-align: top; }

.gt-blocks-container-background-image-panel .gt-background-image .gt-image-controls {
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
  margin-bottom: 1.5em; }
  .gt-blocks-container-background-image-panel .gt-background-image .gt-image-controls .gt-replace-image {
    margin-top: 3px;
    margin-right: 12px; }
.edit-post-sidebar .gt-panel-synchronize-styling {
  background-color: #edeff0; }
  .edit-post-sidebar .gt-panel-synchronize-styling .components-button.is-large {
    height: 36px;
    line-height: 34px;
    padding: 0 12px 2px; }
    .edit-post-sidebar .gt-panel-synchronize-styling .components-button.is-large svg.dashicon {
      margin: 7px 7px 0 0; }

.wp-block-gt-layout-blocks-features {
  /* Features Grid Item */
  /* Features Grid Item Controls*/
  /* Add Features Item*/ }
  .wp-block-gt-layout-blocks-features .gt-grid-item .gt-content .gt-title {
    margin: 1em 0 0.75em;
    color: inherit; }
  .wp-block-gt-layout-blocks-features .gt-grid-item .gt-content .gt-title[data-is-placeholder-visible=true] {
    top: -1em; }
  .wp-block-gt-layout-blocks-features .gt-grid-item .gt-content .gt-text p {
    color: inherit;
    font-size: inherit; }
  .wp-block-gt-layout-blocks-features .gt-grid-item-controls {
    display: -ms-flexbox;
    display: flex;
    margin-top: 16px;
    padding: 8px;
    width: 100%;
    background: #edeff0;
    border: 1px solid #e2e4e7; }
    .wp-block-gt-layout-blocks-features .gt-grid-item-controls .components-icon-button {
      padding: 4px 5px; }
      .wp-block-gt-layout-blocks-features .gt-grid-item-controls .components-icon-button:hover, .wp-block-gt-layout-blocks-features .gt-grid-item-controls .components-icon-button:active, .wp-block-gt-layout-blocks-features .gt-grid-item-controls .components-icon-button:focus {
        background: #fff; }
      .wp-block-gt-layout-blocks-features .gt-grid-item-controls .components-icon-button .dashicon {
        width: 18px; }
    .wp-block-gt-layout-blocks-features .gt-grid-item-controls .remove-features-item {
      margin-left: auto; }
  .wp-block-gt-layout-blocks-features .gt-add-features-item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
    margin-top: 1.5rem;
    padding: 25px 20px 20px;
    width: 100%;
    height: auto;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 1px solid #ddd;
    border-radius: 0; }
    .wp-block-gt-layout-blocks-features .gt-add-features-item:hover, .wp-block-gt-layout-blocks-features .gt-add-features-item:focus {
      border: 1px solid #999;
      -webkit-box-shadow: none;
              box-shadow: none; }
.edit-post-sidebar .gt-panel-synchronize-styling {
  background-color: #edeff0; }
  .edit-post-sidebar .gt-panel-synchronize-styling .components-button.is-large {
    height: 36px;
    line-height: 34px;
    padding: 0 12px 2px; }
    .edit-post-sidebar .gt-panel-synchronize-styling .components-button.is-large svg.dashicon {
      margin: 7px 7px 0 0; }

.wp-block-gt-layout-blocks-heading .gt-title.editor-rich-text__tinymce.mce-content-body {
  line-height: 1.4; }

.wp-block-gt-layout-blocks-heading .gt-title.gt-is-inline-block {
  margin-top: 0;
  margin-bottom: 0; }
.edit-post-sidebar .gt-panel-synchronize-styling {
  background-color: #edeff0; }
  .edit-post-sidebar .gt-panel-synchronize-styling .components-button.is-large {
    height: 36px;
    line-height: 34px;
    padding: 0 12px 2px; }
    .edit-post-sidebar .gt-panel-synchronize-styling .components-button.is-large svg.dashicon {
      margin: 7px 7px 0 0; }

.wp-block-gt-layout-blocks-hero-image .gt-inner-content h1, .wp-block-gt-layout-blocks-hero-image .gt-inner-content h2, .wp-block-gt-layout-blocks-hero-image .gt-inner-content h3, .wp-block-gt-layout-blocks-hero-image .gt-inner-content h4, .wp-block-gt-layout-blocks-hero-image .gt-inner-content h5, .wp-block-gt-layout-blocks-hero-image .gt-inner-content h6, .wp-block-gt-layout-blocks-hero-image .gt-inner-content p {
  color: inherit; }

.gt-blocks-hero-image-background-image-panel .gt-background-image .gt-set-image {
  display: block;
  -webkit-transition: all .1s ease-out;
  -o-transition: all .1s ease-out;
  transition: all .1s ease-out;
  width: 100%;
  background-color: #edeff0;
  border: 1px dashed #a2aab2;
  line-height: 20px;
  padding: 10px 0;
  text-align: center; }
  .gt-blocks-hero-image-background-image-panel .gt-background-image .gt-set-image:hover {
    background-color: #f8f9f9; }

.gt-blocks-hero-image-background-image-panel .gt-background-image .gt-image-button {
  display: block;
  padding: 0; }
  .gt-blocks-hero-image-background-image-panel .gt-background-image .gt-image-button img {
    vertical-align: top; }

.gt-blocks-hero-image-background-image-panel .gt-background-image .gt-image-controls {
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
  margin-bottom: 1.5em; }
  .gt-blocks-hero-image-background-image-panel .gt-background-image .gt-image-controls .gt-replace-image {
    margin-top: 3px;
    margin-right: 12px; }
.edit-post-sidebar .gt-panel-synchronize-styling {
  background-color: #edeff0; }
  .edit-post-sidebar .gt-panel-synchronize-styling .components-button.is-large {
    height: 36px;
    line-height: 34px;
    padding: 0 12px 2px; }
    .edit-post-sidebar .gt-panel-synchronize-styling .components-button.is-large svg.dashicon {
      margin: 7px 7px 0 0; }
.edit-post-sidebar .gt-panel-synchronize-styling {
  background-color: #edeff0; }
  .edit-post-sidebar .gt-panel-synchronize-styling .components-button.is-large {
    height: 36px;
    line-height: 34px;
    padding: 0 12px 2px; }
    .edit-post-sidebar .gt-panel-synchronize-styling .components-button.is-large svg.dashicon {
      margin: 7px 7px 0 0; }

.wp-block-gt-layout-blocks-icon-grid {
  /* IconGrid Grid Layout */
  /* Add IconGrid Item*/ }
  .wp-block-gt-layout-blocks-icon-grid .gt-grid-container {
    display: block; }
    .wp-block-gt-layout-blocks-icon-grid .gt-grid-container > .editor-inner-blocks > .editor-block-list__layout {
      display: grid;
      grid-column-gap: calc( 2rem - 28px);
      grid-row-gap: calc( 2rem - 28px); }
      .wp-block-gt-layout-blocks-icon-grid .gt-grid-container > .editor-inner-blocks > .editor-block-list__layout > [data-type="gt-layout-blocks/column"] {
        min-width: 0;
        width: 100%; }
        .wp-block-gt-layout-blocks-icon-grid .gt-grid-container > .editor-inner-blocks > .editor-block-list__layout > [data-type="gt-layout-blocks/column"] > .editor-block-list__block-edit {
          margin-top: 12px;
          margin-bottom: 18px; }
    .wp-block-gt-layout-blocks-icon-grid .gt-grid-container.gt-columns-2 > .editor-inner-blocks > .editor-block-list__layout {
      grid-template-columns: repeat(2, 1fr); }
    .wp-block-gt-layout-blocks-icon-grid .gt-grid-container.gt-columns-3 > .editor-inner-blocks > .editor-block-list__layout {
      grid-template-columns: repeat(3, 1fr); }
    .wp-block-gt-layout-blocks-icon-grid .gt-grid-container.gt-columns-4 > .editor-inner-blocks > .editor-block-list__layout {
      grid-template-columns: repeat(4, 1fr); }
    .wp-block-gt-layout-blocks-icon-grid .gt-grid-container.gt-columns-5 > .editor-inner-blocks > .editor-block-list__layout {
      grid-template-columns: repeat(5, 1fr); }
    .wp-block-gt-layout-blocks-icon-grid .gt-grid-container.gt-columns-6 > .editor-inner-blocks > .editor-block-list__layout {
      grid-template-columns: repeat(6, 1fr); }
  .wp-block-gt-layout-blocks-icon-grid .gt-add-icon-grid-item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
    margin: 18px 0 0;
    padding: 25px 20px 20px;
    width: 100%;
    height: auto;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 1px solid #ddd;
    border-radius: 0; }
    .wp-block-gt-layout-blocks-icon-grid .gt-add-icon-grid-item:hover, .wp-block-gt-layout-blocks-icon-grid .gt-add-icon-grid-item:focus {
      border: 1px solid #999;
      -webkit-box-shadow: none;
              box-shadow: none; }

@media (min-width: 600px) {
  .wp-block-gt-layout-blocks-icon-grid .gt-grid-container > .editor-inner-blocks > .editor-block-list__layout > [data-type="gt-layout-blocks/column"] > .editor-block-contextual-toolbar {
    -webkit-transform: translateY(-40px);
        -ms-transform: translateY(-40px);
            transform: translateY(-40px); } }
.edit-post-sidebar .gt-panel-synchronize-styling {
  background-color: #edeff0; }
  .edit-post-sidebar .gt-panel-synchronize-styling .components-button.is-large {
    height: 36px;
    line-height: 34px;
    padding: 0 12px 2px; }
    .edit-post-sidebar .gt-panel-synchronize-styling .components-button.is-large svg.dashicon {
      margin: 7px 7px 0 0; }

.wp-block-gt-layout-blocks-image-text {
  /* Block Content */ }
  .wp-block-gt-layout-blocks-image-text .gt-content .gt-title {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    color: inherit; }
  .wp-block-gt-layout-blocks-image-text .gt-content .gt-text p {
    font-size: inherit;
    color: inherit; }
.edit-post-sidebar .gt-panel-synchronize-styling {
  background-color: #edeff0; }
  .edit-post-sidebar .gt-panel-synchronize-styling .components-button.is-large {
    height: 36px;
    line-height: 34px;
    padding: 0 12px 2px; }
    .edit-post-sidebar .gt-panel-synchronize-styling .components-button.is-large svg.dashicon {
      margin: 7px 7px 0 0; }

.wp-block-gt-layout-blocks-portfolio {
  /* Portfolio Grid Item */
  /* Portfolio Grid Item Controls*/
  /* Add Portfolio Item*/ }
  .wp-block-gt-layout-blocks-portfolio .gt-grid-item {
    /* Portfolio Grid Item Content */ }
    .wp-block-gt-layout-blocks-portfolio .gt-grid-item .gt-content .gt-title {
      color: inherit;
      margin-top: 0 !important; }
    .wp-block-gt-layout-blocks-portfolio .gt-grid-item .gt-content .gt-text p {
      color: inherit;
      font-size: inherit; }
  .wp-block-gt-layout-blocks-portfolio .gt-grid-item-controls {
    display: -ms-flexbox;
    display: flex;
    margin-top: 16px;
    padding: 8px;
    width: 100%;
    background: #edeff0;
    border: 1px solid #e2e4e7; }
    .wp-block-gt-layout-blocks-portfolio .gt-grid-item-controls .gt-grid-item-number {
      margin: 2px 10px 2px 6px;
      font-size: 14px;
      font-weight: bold; }
    .wp-block-gt-layout-blocks-portfolio .gt-grid-item-controls .components-icon-button {
      padding: 4px 5px; }
      .wp-block-gt-layout-blocks-portfolio .gt-grid-item-controls .components-icon-button:hover, .wp-block-gt-layout-blocks-portfolio .gt-grid-item-controls .components-icon-button:active, .wp-block-gt-layout-blocks-portfolio .gt-grid-item-controls .components-icon-button:focus {
        background: #fff; }
      .wp-block-gt-layout-blocks-portfolio .gt-grid-item-controls .components-icon-button .dashicon {
        width: 18px; }
    .wp-block-gt-layout-blocks-portfolio .gt-grid-item-controls .remove-portfolio-item {
      margin-left: auto; }
  .wp-block-gt-layout-blocks-portfolio .gt-add-portfolio-item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
    margin-top: 1.5rem;
    padding: 25px 20px 20px;
    width: 100%;
    height: auto;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 1px solid #ddd;
    border-radius: 0; }
    .wp-block-gt-layout-blocks-portfolio .gt-add-portfolio-item:hover, .wp-block-gt-layout-blocks-portfolio .gt-add-portfolio-item:focus {
      border: 1px solid #999;
      -webkit-box-shadow: none;
              box-shadow: none; }
