/*
 * GT Blocks Settings CSS
 *
 * @package GT Blocks
 */

.gt-blocks-settings-form {
	margin-top: 24px;
}

.gt-blocks-settings .license-status {
	display: inline-block;
	margin: 0 12px 0 0;
	padding: 4px 8px;
	background: #444;
	color: #fff;
	text-transform: uppercase;
}

.gt-blocks-settings .license-active {
	background: green;
}

.gt-blocks-settings .license-invalid,
.gt-blocks-settings .license-expired {
	background: red;
}

.gt-blocks-settings .license-description {
	margin: 16px 0 0;
}

.gt-blocks-settings .license-renewal {
	margin: 16px 0 0;
}
