.wp-block-gt-layout-blocks-column {
	display: block;

	.gt-column {
		display: block;

		&.has-background {

			> .editor-inner-blocks {
				margin-top: -10px;
				margin-bottom: -30px;
			}
		}
	}

	/* Column Controls*/
	.gt-column-controls {
		display: flex;
		margin-top: 16px;
		padding: 8px;
		width: 100%;
		background: #edeff0;
		border: 1px solid #e2e4e7;

		.components-icon-button {
			padding: 4px 5px;

			&:hover,
			&:active,
			&:focus {
				background: #fff;
			}

			.dashicon {
				width: 18px;
			}
		}

		.remove-column {
			margin-left: auto;
		}
	}
}

.gt-panel-spacing-options .gt-padding-size-picker {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1em;
}
