.wp-block-gt-layout-blocks-column {
	display: block;
	margin-bottom: 0;

	.gt-column {
		padding-bottom: 1px;

		> .editor-inner-blocks {
			margin-top: -17px;
			margin-bottom: -17px;
		}

		&.has-background {
			> .editor-inner-blocks {
				margin-top: -30px;
				margin-bottom: -30px;
			}
		}

		/* Hide Block Appender */
		.wp-block.editor-default-block-appender {
			display: none;
		}

		> .editor-inner-blocks > .editor-block-list__layout > div:first-child > .wp-block.editor-default-block-appender {
			display: block;
		}
	}

	/* Column Controls*/
	.gt-column-controls {
		display: flex;
		margin-top: 16px;
		padding: 8px;
		width: 100%;
		background: #edeff0;
		border: 1px solid #e2e4e7;

		.components-icon-button {
			padding: 4px 5px;

			&:hover,
			&:active,
			&:focus {
				background: #fff;
			}

			.dashicon {
				width: 18px;
			}
		}

		.remove-column {
			margin-left: auto;
		}
	}
}
