.wp-block-gt-blocks-column {
	display: flex;
	flex-direction: column;
	margin-bottom: 1.5em;
	min-width: 0;
    word-break: break-word;
    overflow-wrap: break-word;

	.gt-column {
		flex-grow: 1;
	}
}
