.gt-image-placeholder-wrapper {

	figure {
		width: auto;
		margin: 0;
		padding: 0;
	}
	
	/* Image Placeholder */
	.gt-image-placeholder {
		height: 100%;

		.components-form-file-upload {
			margin-bottom: 12px;
		}
	}

	/* Image added in Editor */
	.gt-image-editor {
		position: relative;

		.gt-replace-image {
			display: block;
			padding: 0;
		}

		.gt-remove-image {
			position: absolute;
			top: 8px;
			right: 8px;
			color: #fff;
			background: rgba(0,0,0,0.6);
			padding: 5px;
			border: 3px solid transparent;
		}
	}
}
