.gt-background-section {

	&.gt-normal-padding {
		padding: calc( 2rem - 30px ) 2rem;
	}

	&.gt-large-padding {
		padding: calc( 4rem - 30px ) 4rem;
	}

	.gt-section-content {

		h1, h2, h3, h4, h5, h6, p {
			color: inherit;
		}

		> .editor-inner-blocks > .editor-block-list__layout > .editor-block-list__block {
			margin-left: -1px;
			margin-right: -1px;
		}
		
		&.gt-narrow-width .editor-inner-blocks > .editor-block-list__layout > .editor-block-list__block {
			max-width: calc( 560px + 30px );
		}

		&.gt-default-width .editor-inner-blocks > .editor-block-list__layout > .editor-block-list__block {
			max-width: calc( 720px + 30px );
		}

		&.gt-wide-width .editor-inner-blocks > .editor-block-list__layout > .editor-block-list__block {
			max-width: calc( 880px + 30px );
		}

		&.gt-full-width .editor-inner-blocks > .editor-block-list__layout > .editor-block-list__block {
			max-width: calc( 1040px + 30px );
		}

		/* Block Appender
		.wp-block.editor-default-block-appender {
			height: 36px;

			textarea {
				height: 0;
			}

			.editor-inserter {
				width: 100%;
				text-align: center;
				
				.editor-inserter__toggle {
					background: #fff;
				}
			}
		} */
	}
}

.gt-background-image-panel {

	.gt-background-image {

		.gt-set-image {
			display: block;
			transition: all .1s ease-out;
			width: 100%;
			background-color: #edeff0;
			border: 1px dashed #a2aab2;
			line-height: 20px;
			padding: 10px 0;
			text-align: center;

			&:hover {
				background-color: #f8f9f9;
			}
		}

		.gt-image-button {
			display: block;
			padding: 0;

			img {
				vertical-align: top;
			}
		}

		.gt-image-controls {
			display: flex;
			margin-top: 5px;
			margin-bottom: 1.5em;

			.gt-replace-image {
				margin-top: 3px;
				margin-right: 12px;
			}
		}
	}
}
