.gt-background-section {
	position: relative;
	padding: 0 2rem;

	/* Padding Top */
	&.gt-normal-top-padding {
		padding-top: 2rem;
	}

	&.gt-medium-top-padding {
		padding-top: 4rem;
	}

	&.gt-large-top-padding {
		padding-top: 8rem;
	}

	/* Padding Bottom */
	&.gt-normal-bottom-padding {
		padding-bottom: 2rem;
	}

	&.gt-medium-bottom-padding {
		padding-bottom: 4rem;
	}

	&.gt-large-bottom-padding {
		padding-bottom: 8rem;
	}

	&.gt-has-background-image {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
	}

	&.gt-fixed-background {
		background-attachment: fixed;
	}

	.gt-background-overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
	}

	.gt-section-content {
		position: relative;
		margin: 0 auto;
		z-index: 2;

		> p:empty:last-child {
			margin: -3em 0 0;
		}

		> *:last-child {
			margin-bottom: 0;
		}

		&.gt-narrow-width {
			max-width: 560px;
		}

		&.gt-default-width {
			max-width: 720px;
		}

		&.gt-wide-width {
			max-width: 880px;
		}

		&.gt-full-width {
			max-width: 1040px;
		}
	}
}
