.wp-block-german-themes-blocks-container {
    padding: 1.5rem;

    &.gt-has-background-image {
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    &.gt-fixed-background {
        background-attachment: fixed;
    }

    .gt-inner-content {
        margin: 0 auto;
    }
}
