.wp-block-gt-layout-blocks-hero-image {
	margin-bottom: 1.5em;

	.gt-hero-section {
		display: flex;

		.wp-block-gt-layout-blocks-column,
		.wp-block-gt-layout-blocks-image {
			width: 100%;
		}
		
		.wp-block-gt-layout-blocks-column {
			order: 2;
		}
		
		.wp-block-gt-layout-blocks-image {
			order: 1;
		}

		&.gt-hero-layout-full,
		&.gt-hero-layout-center {
			flex-direction: column;
			align-items: center;
		}
		
		&.gt-hero-layout-left {
			flex-direction: row-reverse;
			justify-content: flex-start;
		}
	
		&.gt-hero-layout-right {
			justify-content: flex-end;
		}

		&.gt-hero-layout-center,
		&.gt-hero-layout-left,
		&.gt-hero-layout-right {
			.wp-block-gt-layout-blocks-column,
			.wp-block-gt-layout-blocks-image {
				width: 50%;
			}
		}
	}
}
