.wp-block-gt-blocks-image-card {

	.gt-text-column {

		> .editor-inner-blocks > .editor-block-list__layout {

			> .editor-block-list__block {

				> .editor-block-list__block-edit {
					margin-top: 0;
					margin-bottom: 0;
				}
			}
		}
	}
}

@media only screen and (min-width: 720px) {
	.wp-block-gt-blocks-image-card {

		.gt-text-column {
			margin-left: -1px;
		}
	
		&.gt-image-position-right .gt-text-column {
			margin-left: 0;
			margin-right: -1px;
		}
	}
}
