:root {
	--gt-column-gap: 1.5rem;
}

.gt-none-column-gap {
	--gt-column-gap: 0;
}

.gt-small-column-gap {
	--gt-column-gap: 1rem;
}

.gt-medium-column-gap {
	--gt-column-gap: 2rem;
}

.gt-large-column-gap {
	--gt-column-gap: 3rem;
}

.gt-extra-large-column-gap {
	--gt-column-gap: 4rem;
}
