.wp-block-gt-layout-blocks-content {
	display: block;

	.gt-content {

		&.has-background {

			> .editor-inner-blocks {
				margin-top: -10px;
				margin-bottom: -30px;
			}
		}
	}
}

.gt-panel-spacing-options .gt-padding-size-picker {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1em;
}
