.wp-block-gt-layout-blocks-content {
	margin-bottom: 1.5em;

	.gt-content {

		&.has-background {
			padding: 1.5rem;

			> h1, > h2, > h3, > h4, > h5, > h6 {
				margin-top: 0;
			}

			> *:last-child {
				margin-bottom: 0;
			}
		}
	}
}
