.wp-block-gt-layout-blocks-content {
	display: flex;
	flex-direction: column;

	.gt-content {
		display: flex;
		flex-direction: column;
		flex-grow: 1;

		&.has-background {
			padding: 1.5rem;

			> h1, > h2, > h3, > h4, > h5, > h6 {
				margin-top: 0;
			}

			&.gt-padding-small {
				padding: 0.5rem;
			}

			&.gt-padding-medium {
				padding: 1rem;
			}

			&.gt-padding-large {
				padding: 2rem;
			}
		}
	}
}
