.wp-block-gt-blocks-content .gt-content,
.wp-block-gt-blocks-column .gt-column {

	> .editor-inner-blocks {
		margin-top: -17px;
		margin-bottom: -17px;
	}

	&.has-background,
	&.gt-padding:not(.gt-none-padding) {
		> .editor-inner-blocks {
			margin-top: -30px;
			margin-bottom: -30px;
		}
	}

	&.has-background.gt-none-padding {
		> .editor-inner-blocks {
			margin-top: -32px;
			margin-bottom: -32px;
		}
	}

	/* Hide Block Appender */
	.wp-block.editor-default-block-appender {
		display: none;
	}

	> .editor-inner-blocks > .editor-block-list__layout > div:first-child > .wp-block.editor-default-block-appender {
		display: block;
	}
}
