.wp-block-gt-layout-blocks-features {

    /* Features Grid Layout */
    .gt-grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }

    &.gt-columns-3 .gt-grid-container {
        grid-template-columns: repeat(3, 1fr);
    }

    &.gt-columns-4 .gt-grid-container {
        grid-template-columns: repeat(4, 1fr);
    }

    &.gt-columns-5 .gt-grid-container {
        grid-template-columns: repeat(5, 1fr);
    }

    &.gt-columns-6 .gt-grid-container {
        grid-template-columns: repeat(6, 1fr);
    }

    /* Features Item Styling */
    .gt-grid-item {

        .gt-icon-wrap {

            .gt-icon {
                padding-top: 1.25rem;
                padding-left: 1.25rem;
                padding-right: 1.25rem;

                .gt-icon-svg {
                    display: inline-block;
                    line-height: 0;

                    .icon {
                    	margin: 0;
                    	width: 32px;
                    	height: 32px;
                    	vertical-align: middle;
                    	fill: currentColor;
                    }
                }

                &.has-icon-background {
                    padding: 2rem 1.5rem;
                }

                &.gt-icon-square {
                    display: inline-block;
                    padding: 2rem;
                }

                &.gt-icon-circle {
                    display: inline-block;
                    padding: 1.5rem;
                    border-radius: 100%;
                }

                &.gt-icon-outline {

                    .gt-icon-svg {
                        display: inline-block;
                        padding: 2rem;
                        border-radius: 100%;
                        border: 3px solid currentColor;
                    }

                    &.has-icon-background {
                        padding: 1.5rem;
                    }
                }
            }
        }

        .gt-content {


            .gt-title {

            }
        }

        &.has-background .gt-content {
            padding: 0 1.25rem;
        }

        &.has-background .gt-icon-square,
        &.has-background .gt-icon-circle {
            margin-top: 1.25rem;
            margin-left: 1.25rem;
            margin-right: 1.25rem;
        }
    }
}
