.wp-block-gt-layout-blocks-icon-grid {

	/* IconGrid Grid Layout */
	.gt-grid-container {
		display: block;
			
		> .editor-inner-blocks > .editor-block-list__layout {
			display: grid;
			grid-gap: 1.5rem;

			> [data-type="gt-layout-blocks/icon-grid-item"] {
				min-width: 0;
			}

			.editor-block-list__block > .editor-block-list__block-edit {
				margin-top: 12px;
			}
		}

		&.gt-columns-2 > .editor-inner-blocks > .editor-block-list__layout {
			grid-template-columns: repeat(2, 1fr);
		}

		&.gt-columns-3 > .editor-inner-blocks > .editor-block-list__layout {
			grid-template-columns: repeat(3, 1fr);
		}

		&.gt-columns-4 > .editor-inner-blocks > .editor-block-list__layout {
			grid-template-columns: repeat(4, 1fr);
		}

		&.gt-columns-5 > .editor-inner-blocks > .editor-block-list__layout {
			grid-template-columns: repeat(5, 1fr);
		}

		&.gt-columns-6 > .editor-inner-blocks > .editor-block-list__layout {
			grid-template-columns: repeat(6, 1fr);
		}
	}
}

.wp-block-gt-layout-blocks-icon-grid {

	/* IconGrid Grid Item */
	.gt-grid-item {

		.gt-content {

			.gt-title {
				margin: 1em 0 0.75em;
				color: inherit;
			}

			.gt-title[data-is-placeholder-visible=true] {
				top: -1em;
			}

			.gt-text p {
				color: inherit;
				font-size: inherit;
			}
		}
	}

	/* IconGrid Grid Item Controls*/
	.gt-grid-item-controls {
		display: flex;
		margin-top: 16px;
		padding: 8px;
		width: 100%;
		background: #edeff0;
		border: 1px solid #e2e4e7;

		.components-icon-button {
			padding: 4px 5px;

			&:hover,
			&:active,
			&:focus {
				background: #fff;
			}

			.dashicon {
				width: 18px;
			}
		}

		.remove-icon-grid-item {
			margin-left: auto;
		}
	}

	/* Add IconGrid Item*/
	.gt-add-icon-grid-item {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 1.5rem;
		padding: 25px 20px 20px;
		width: 100%;
		height: auto;
		box-shadow: none;
		border: 1px solid #ddd;
		border-radius: 0;

		&:hover,
		&:focus {
			border: 1px solid #999;
			box-shadow: none;
		}
	}
}
